<i class="iconsax" icon-name="24hr-service"></i>
<i class="iconsax" icon-name="3d-cube"></i>
<i class="iconsax" icon-name="activity-chart"></i>
<i class="iconsax" icon-name="activity-chart-favorite"></i>
<i class="iconsax" icon-name="activity-square"></i>
<i class="iconsax" icon-name="add"></i>
<i class="iconsax" icon-name="add-circle"></i>
<i class="iconsax" icon-name="add-layer"></i>
<i class="iconsax" icon-name="add-square"></i>
<i class="iconsax" icon-name="airdrop"></i>
<i class="iconsax" icon-name="airplane"></i>
<i class="iconsax" icon-name="airplane-square"></i>
<i class="iconsax" icon-name="airpod"></i>
<i class="iconsax" icon-name="airpods"></i>
<i class="iconsax" icon-name="alarm"></i>
<i class="iconsax" icon-name="align-bottom"></i>
<i class="iconsax" icon-name="align-left"></i>
<i class="iconsax" icon-name="align-right"></i>
<i class="iconsax" icon-name="align-top"></i>
<i class="iconsax" icon-name="align-x-center"></i>
<i class="iconsax" icon-name="align-y-center"></i>
<i class="iconsax" icon-name="aquarius"></i>
<i class="iconsax" icon-name="archive-book"></i>
<i class="iconsax" icon-name="archive-closed"></i>
<i class="iconsax" icon-name="archive-open"></i>
<i class="iconsax" icon-name="arrow-down"></i>
<i class="iconsax" icon-name="arrow-down-circle"></i>
<i class="iconsax" icon-name="arrow-down-thick-1"></i>
<i class="iconsax" icon-name="arrow-down-thick-3"></i>
<i class="iconsax" icon-name="arrow-left"></i>
<i class="iconsax" icon-name="arrow-left-circle"></i>
<i class="iconsax" icon-name="arrow-left-thick-1"></i>
<i class="iconsax" icon-name="arrow-left-thick-3"></i>
<i class="iconsax" icon-name="arrow-right"></i>
<i class="iconsax" icon-name="arrow-right-circle"></i>
<i class="iconsax" icon-name="arrow-right-thick-1"></i>
<i class="iconsax" icon-name="arrow-right-thick-2"></i>
<i class="iconsax" icon-name="arrow-right-thick-3"></i>
<i class="iconsax" icon-name="arrow-up"></i>
<i class="iconsax" icon-name="arrow-up-circle"></i>
<i class="iconsax" icon-name="arrow-up-down"></i>
<i class="iconsax" icon-name="arrow-up-thick-1"></i>
<i class="iconsax" icon-name="arrow-up-thick-3"></i>
<i class="iconsax" icon-name="auto-brightness"></i>
<i class="iconsax" icon-name="award"></i>
<i class="iconsax" icon-name="award-2"></i>
<i class="iconsax" icon-name="award-3"></i>
<i class="iconsax" icon-name="background-layer"></i>
<i class="iconsax" icon-name="backspace"></i>
<i class="iconsax" icon-name="bank"></i>
<i class="iconsax" icon-name="bank-card"></i>
<i class="iconsax" icon-name="bank-card-add"></i>
<i class="iconsax" icon-name="bank-card-convert"></i>
<i class="iconsax" icon-name="bank-card-diagonal"></i>
<i class="iconsax" icon-name="bank-card-receive"></i>
<i class="iconsax" icon-name="bank-card-send"></i>
<i class="iconsax" icon-name="bank-card-slash"></i>
<i class="iconsax" icon-name="bank-card-tick-1"></i>
<i class="iconsax" icon-name="bank-card-tick-2"></i>
<i class="iconsax" icon-name="bank-card-x-1"></i>
<i class="iconsax" icon-name="bank-card-x-2"></i>
<i class="iconsax" icon-name="bank-cards"></i>
<i class="iconsax" icon-name="bar-graph-1"></i>
<i class="iconsax" icon-name="bar-graph-2"></i>
<i class="iconsax" icon-name="bar-graph-3"></i>
<i class="iconsax" icon-name="bar-graph-4"></i>
<i class="iconsax" icon-name="bar-graph-5"></i>
<i class="iconsax" icon-name="barcode"></i>
<i class="iconsax" icon-name="basket-1"></i>
<i class="iconsax" icon-name="basket-2"></i>
<i class="iconsax" icon-name="basket-3"></i>
<i class="iconsax" icon-name="basket-happy"></i>
<i class="iconsax" icon-name="basket-tick-1"></i>
<i class="iconsax" icon-name="basket-tick-2"></i>
<i class="iconsax" icon-name="basket-time"></i>
<i class="iconsax" icon-name="basket-x"></i>
<i class="iconsax" icon-name="basket-x-1"></i>
<i class="iconsax" icon-name="battery-1"></i>
<i class="iconsax" icon-name="battery-2"></i>
<i class="iconsax" icon-name="battery-charging"></i>
<i class="iconsax" icon-name="battery-disable"></i>
<i class="iconsax" icon-name="battery-empty"></i>
<i class="iconsax" icon-name="battery-full"></i>
<i class="iconsax" icon-name="bell-1"></i>
<i class="iconsax" icon-name="bell-2"></i>
<i class="iconsax" icon-name="bell-3"></i>
<i class="iconsax" icon-name="bezier"></i>
<i class="iconsax" icon-name="bill"></i>
<i class="iconsax" icon-name="birdhouse"></i>
<i class="iconsax" icon-name="blend-1"></i>
<i class="iconsax" icon-name="blend-2"></i>
<i class="iconsax" icon-name="bluetooth"></i>
<i class="iconsax" icon-name="bluetooth-2"></i>
<i class="iconsax" icon-name="bluetooth-circle"></i>
<i class="iconsax" icon-name="bluetooth-rectangle"></i>
<i class="iconsax" icon-name="blur"></i>
<i class="iconsax" icon-name="bold"></i>
<i class="iconsax" icon-name="book-closed"></i>
<i class="iconsax" icon-name="book-open"></i>
<i class="iconsax" icon-name="book-square"></i>
<i class="iconsax" icon-name="book-with-bookmark"></i>
<i class="iconsax" icon-name="bookmark-add"></i>
<i class="iconsax" icon-name="bookmark-minus"></i>
<i class="iconsax" icon-name="bookmark-minus-2"></i>
<i class="iconsax" icon-name="bookmark-slash"></i>
<i class="iconsax" icon-name="bookmark-tick"></i>
<i class="iconsax" icon-name="bookmarks"></i>
<i class="iconsax" icon-name="bookmarks-add"></i>
<i class="iconsax" icon-name="bookmarks-minus"></i>
<i class="iconsax" icon-name="bookmarks-x"></i>
<i class="iconsax" icon-name="bounding-box"></i>
<i class="iconsax" icon-name="bounding-circle"></i>
<i class="iconsax" icon-name="box"></i>
<i class="iconsax" icon-name="box-add"></i>
<i class="iconsax" icon-name="box-dashed"></i>
<i class="iconsax" icon-name="box-rotate"></i>
<i class="iconsax" icon-name="box-scan"></i>
<i class="iconsax" icon-name="box-search"></i>
<i class="iconsax" icon-name="box-square"></i>
<i class="iconsax" icon-name="box-swap"></i>
<i class="iconsax" icon-name="box-tick"></i>
<i class="iconsax" icon-name="box-time"></i>
<i class="iconsax" icon-name="box-x"></i>
<i class="iconsax" icon-name="briefcase"></i>
<i class="iconsax" icon-name="briefcase-tick"></i>
<i class="iconsax" icon-name="briefcase-time"></i>
<i class="iconsax" icon-name="briefcase-x"></i>
<i class="iconsax" icon-name="broom"></i>
<i class="iconsax" icon-name="brush-1"></i>
<i class="iconsax" icon-name="brush-2"></i>
<i class="iconsax" icon-name="brush-3"></i>
<i class="iconsax" icon-name="brush-4"></i>
<i class="iconsax" icon-name="brush-5"></i>
<i class="iconsax" icon-name="brush-tools"></i>
<i class="iconsax" icon-name="bubbles"></i>
<i class="iconsax" icon-name="building-1"></i>
<i class="iconsax" icon-name="building-2"></i>
<i class="iconsax" icon-name="building-3"></i>
<i class="iconsax" icon-name="building-4"></i>
<i class="iconsax" icon-name="buildings-1"></i>
<i class="iconsax" icon-name="buildings-2"></i>
<i class="iconsax" icon-name="bulb"></i>
<i class="iconsax" icon-name="bulb-charge"></i>
<i class="iconsax" icon-name="bulb-slash"></i>
<i class="iconsax" icon-name="bus"></i>
<i class="iconsax" icon-name="cake"></i>
<i class="iconsax" icon-name="calculator"></i>
<i class="iconsax" icon-name="calendar-1"></i>
<i class="iconsax" icon-name="calendar-2"></i>
<i class="iconsax" icon-name="calendar-3"></i>
<i class="iconsax" icon-name="calendar-add"></i>
<i class="iconsax" icon-name="calendar-circle"></i>
<i class="iconsax" icon-name="calendar-edit"></i>
<i class="iconsax" icon-name="calendar-search"></i>
<i class="iconsax" icon-name="calendar-tick"></i>
<i class="iconsax" icon-name="calendar-x"></i>
<i class="iconsax" icon-name="camera"></i>
<i class="iconsax" icon-name="camera-slash"></i>
<i class="iconsax" icon-name="car"></i>
<i class="iconsax" icon-name="card-coin"></i>
<i class="iconsax" icon-name="card-edit"></i>
<i class="iconsax" icon-name="cast"></i>
<i class="iconsax" icon-name="cd"></i>
<i class="iconsax" icon-name="change-shape-1"></i>
<i class="iconsax" icon-name="change-shape-2"></i>
<i class="iconsax" icon-name="chart-square"></i>
<i class="iconsax" icon-name="chart-tick"></i>
<i class="iconsax" icon-name="chart-x"></i>
<i class="iconsax" icon-name="chevron-down"></i>
<i class="iconsax" icon-name="chevron-down-circle"></i>
<i class="iconsax" icon-name="chevron-down-square"></i>
<i class="iconsax" icon-name="chevron-left"></i>
<i class="iconsax" icon-name="chevron-left-circle"></i>
<i class="iconsax" icon-name="chevron-left-square"></i>
<i class="iconsax" icon-name="chevron-right"></i>
<i class="iconsax" icon-name="chevron-right-circle"></i>
<i class="iconsax" icon-name="chevron-right-square"></i>
<i class="iconsax" icon-name="chevron-up"></i>
<i class="iconsax" icon-name="chevron-up-circle"></i>
<i class="iconsax" icon-name="chevron-up-square"></i>
<i class="iconsax" icon-name="chrome"></i>
<i class="iconsax" icon-name="circle"></i>
<i class="iconsax" icon-name="clipboard"></i>
<i class="iconsax" icon-name="clipboard-in"></i>
<i class="iconsax" icon-name="clipboard-out"></i>
<i class="iconsax" icon-name="clipboard-text-1"></i>
<i class="iconsax" icon-name="clipboard-text-2"></i>
<i class="iconsax" icon-name="clipboard-tick"></i>
<i class="iconsax" icon-name="clipboard-x"></i>
<i class="iconsax" icon-name="clock"></i>
<i class="iconsax" icon-name="cloud"></i>
<i class="iconsax" icon-name="cloud-add"></i>
<i class="iconsax" icon-name="cloud-change"></i>
<i class="iconsax" icon-name="cloud-connection"></i>
<i class="iconsax" icon-name="cloud-fog"></i>
<i class="iconsax" icon-name="cloud-lightning"></i>
<i class="iconsax" icon-name="cloud-minus"></i>
<i class="iconsax" icon-name="cloud-notif"></i>
<i class="iconsax" icon-name="cloud-rain"></i>
<i class="iconsax" icon-name="cloud-snow"></i>
<i class="iconsax" icon-name="cloud-sunny"></i>
<i class="iconsax" icon-name="cloud-tick"></i>
<i class="iconsax" icon-name="cloud-x-1"></i>
<i class="iconsax" icon-name="cloud-x-circle"></i>
<i class="iconsax" icon-name="code-1"></i>
<i class="iconsax" icon-name="code-2"></i>
<i class="iconsax" icon-name="code-circle"></i>
<i class="iconsax" icon-name="code-clipboard"></i>
<i class="iconsax" icon-name="code-tag"></i>
<i class="iconsax" icon-name="coffee"></i>
<i class="iconsax" icon-name="coins-2"></i>
<i class="iconsax" icon-name="coins-3"></i>
<i class="iconsax" icon-name="coins-4"></i>
<i class="iconsax" icon-name="color-filter"></i>
<i class="iconsax" icon-name="color-filter-square"></i>
<i class="iconsax" icon-name="color-swatch"></i>
<i class="iconsax" icon-name="columns"></i>
<i class="iconsax" icon-name="command"></i>
<i class="iconsax" icon-name="command-square"></i>
<i class="iconsax" icon-name="compass-1"></i>
<i class="iconsax" icon-name="compass-2"></i>
<i class="iconsax" icon-name="component"></i>
<i class="iconsax" icon-name="convert"></i>
<i class="iconsax" icon-name="copy"></i>
<i class="iconsax" icon-name="copy-tick"></i>
<i class="iconsax" icon-name="copyright"></i>
<i class="iconsax" icon-name="courthouse"></i>
<i class="iconsax" icon-name="cpu"></i>
<i class="iconsax" icon-name="cpu-charge"></i>
<i class="iconsax" icon-name="cpu-setting"></i>
<i class="iconsax" icon-name="creative-commons"></i>
<i class="iconsax" icon-name="crop"></i>
<i class="iconsax" icon-name="crown-1"></i>
<i class="iconsax" icon-name="crown-2"></i>
<i class="iconsax" icon-name="cue-cards"></i>
<i class="iconsax" icon-name="cursor-circle"></i>
<i class="iconsax" icon-name="cursor-circle-1"></i>
<i class="iconsax" icon-name="cursor-square"></i>
<i class="iconsax" icon-name="cursor-square-1"></i>
<i class="iconsax" icon-name="devices-1"></i>
<i class="iconsax" icon-name="devices-2"></i>
<i class="iconsax" icon-name="diamonds"></i>
<i class="iconsax" icon-name="directions"></i>
<i class="iconsax" icon-name="directions-square"></i>
<i class="iconsax" icon-name="discount-badge"></i>
<i class="iconsax" icon-name="discount-circle"></i>
<i class="iconsax" icon-name="dislike"></i>
<i class="iconsax" icon-name="document-1"></i>
<i class="iconsax" icon-name="document-2"></i>
<i class="iconsax" icon-name="document-cloud"></i>
<i class="iconsax" icon-name="document-code-1"></i>
<i class="iconsax" icon-name="document-code-2"></i>
<i class="iconsax" icon-name="document-copy"></i>
<i class="iconsax" icon-name="document-download"></i>
<i class="iconsax" icon-name="document-favorite"></i>
<i class="iconsax" icon-name="document-favorite-1"></i>
<i class="iconsax" icon-name="document-filter"></i>
<i class="iconsax" icon-name="document-forward"></i>
<i class="iconsax" icon-name="document-previous"></i>
<i class="iconsax" icon-name="document-sketch"></i>
<i class="iconsax" icon-name="document-text-1"></i>
<i class="iconsax" icon-name="document-text-2"></i>
<i class="iconsax" icon-name="document-upload"></i>
<i class="iconsax" icon-name="dollar-circle"></i>
<i class="iconsax" icon-name="dollar-square"></i>
<i class="iconsax" icon-name="download-1"></i>
<i class="iconsax" icon-name="download-2"></i>
<i class="iconsax" icon-name="download-square"></i>
<i class="iconsax" icon-name="driver-1"></i>
<i class="iconsax" icon-name="driver-2"></i>
<i class="iconsax" icon-name="driver-refresh"></i>
<i class="iconsax" icon-name="driving"></i>
<i class="iconsax" icon-name="drop"></i>
<i class="iconsax" icon-name="earphones"></i>
<i class="iconsax" icon-name="edit-1"></i>
<i class="iconsax" icon-name="edit-2"></i>
<i class="iconsax" icon-name="emoji-happy"></i>
<i class="iconsax" icon-name="emoji-normal"></i>
<i class="iconsax" icon-name="emoji-sad"></i>
<i class="iconsax" icon-name="eraser"></i>
<i class="iconsax" icon-name="eraser-square"></i>
<i class="iconsax" icon-name="external-circle"></i>
<i class="iconsax" icon-name="external-drive"></i>
<i class="iconsax" icon-name="external-square"></i>
<i class="iconsax" icon-name="eye"></i>
<i class="iconsax" icon-name="eye-slash"></i>
<i class="iconsax" icon-name="female"></i>
<i class="iconsax" icon-name="filter"></i>
<i class="iconsax" icon-name="filter-add"></i>
<i class="iconsax" icon-name="filter-edit"></i>
<i class="iconsax" icon-name="filter-search"></i>
<i class="iconsax" icon-name="filter-square"></i>
<i class="iconsax" icon-name="filter-tick"></i>
<i class="iconsax" icon-name="filter-x"></i>
<i class="iconsax" icon-name="fingerprint-circle"></i>
<i class="iconsax" icon-name="fingerprint-scan"></i>
<i class="iconsax" icon-name="first-character"></i>
<i class="iconsax" icon-name="flag-1"></i>
<i class="iconsax" icon-name="flag-2"></i>
<i class="iconsax" icon-name="flash-1"></i>
<i class="iconsax" icon-name="flash-circle-1"></i>
<i class="iconsax" icon-name="flash-circle-2"></i>
<i class="iconsax" icon-name="flash-slash"></i>
<i class="iconsax" icon-name="flash-speed"></i>
<i class="iconsax" icon-name="flask"></i>
<i class="iconsax" icon-name="flow-chart-1"></i>
<i class="iconsax" icon-name="flow-chart-2"></i>
<i class="iconsax" icon-name="folder-1"></i>
<i class="iconsax" icon-name="folder-2"></i>
<i class="iconsax" icon-name="folder-add"></i>
<i class="iconsax" icon-name="folder-cloud"></i>
<i class="iconsax" icon-name="folder-connection"></i>
<i class="iconsax" icon-name="folder-favorite"></i>
<i class="iconsax" icon-name="folder-minus"></i>
<i class="iconsax" icon-name="folder-open"></i>
<i class="iconsax" icon-name="folder-x"></i>
<i class="iconsax" icon-name="footer"></i>
<i class="iconsax" icon-name="foreground-layer"></i>
<i class="iconsax" icon-name="game-controller"></i>
<i class="iconsax" icon-name="gameboy"></i>
<i class="iconsax" icon-name="gas-station"></i>
<i class="iconsax" icon-name="gemini"></i>
<i class="iconsax" icon-name="gemini-2"></i>
<i class="iconsax" icon-name="ghost"></i>
<i class="iconsax" icon-name="gift"></i>
<i class="iconsax" icon-name="git-arrows"></i>
<i class="iconsax" icon-name="git-commit"></i>
<i class="iconsax" icon-name="git-pull-request"></i>
<i class="iconsax" icon-name="git-pull-request-square"></i>
<i class="iconsax" icon-name="glasses"></i>
<i class="iconsax" icon-name="globe"></i>
<i class="iconsax" icon-name="globe-edit"></i>
<i class="iconsax" icon-name="globe-refresh"></i>
<i class="iconsax" icon-name="globe-search"></i>
<i class="iconsax" icon-name="gps"></i>
<i class="iconsax" icon-name="gps-slash"></i>
<i class="iconsax" icon-name="grammarly"></i>
<i class="iconsax" icon-name="grid-apps"></i>
<i class="iconsax" icon-name="grid-apps-2"></i>
<i class="iconsax" icon-name="grid-apps-add"></i>
<i class="iconsax" icon-name="grid-apps-equals"></i>
<i class="iconsax" icon-name="grid-lock"></i>
<i class="iconsax" icon-name="grid-quadrants"></i>
<i class="iconsax" icon-name="grid-table"></i>
<i class="iconsax" icon-name="grid-table-edit"></i>
<i class="iconsax" icon-name="grid-table-eraser"></i>
<i class="iconsax" icon-name="grid-uneven"></i>
<i class="iconsax" icon-name="group"></i>
<i class="iconsax" icon-name="hamburger-menu"></i>
<i class="iconsax" icon-name="hashtag"></i>
<i class="iconsax" icon-name="hashtag-down"></i>
<i class="iconsax" icon-name="hashtag-up"></i>
<i class="iconsax" icon-name="header"></i>
<i class="iconsax" icon-name="headphones"></i>
<i class="iconsax" icon-name="headphones-active"></i>
<i class="iconsax" icon-name="heart"></i>
<i class="iconsax" icon-name="heart-add"></i>
<i class="iconsax" icon-name="heart-circle"></i>
<i class="iconsax" icon-name="heart-edit"></i>
<i class="iconsax" icon-name="heart-monitor-square"></i>
<i class="iconsax" icon-name="heart-search"></i>
<i class="iconsax" icon-name="heart-slash"></i>
<i class="iconsax" icon-name="heart-tag"></i>
<i class="iconsax" icon-name="heart-tick"></i>
<i class="iconsax" icon-name="heart-x"></i>
<i class="iconsax" icon-name="hearts"></i>
<i class="iconsax" icon-name="hierarchy-1"></i>
<i class="iconsax" icon-name="hierarchy-1-square"></i>
<i class="iconsax" icon-name="hierarchy-2"></i>
<i class="iconsax" icon-name="hierarchy-2-square"></i>
<i class="iconsax" icon-name="hierarchy-3"></i>
<i class="iconsax" icon-name="history"></i>
<i class="iconsax" icon-name="home-1"></i>
<i class="iconsax" icon-name="home-2"></i>
<i class="iconsax" icon-name="home-shield"></i>
<i class="iconsax" icon-name="home-trend-down"></i>
<i class="iconsax" icon-name="home-trend-up"></i>
<i class="iconsax" icon-name="home-wifi"></i>
<i class="iconsax" icon-name="hospital"></i>
<i class="iconsax" icon-name="hourglass"></i>
<i class="iconsax" icon-name="house-1"></i>
<i class="iconsax" icon-name="house-2"></i>
<i class="iconsax" icon-name="inbox-1"></i>
<i class="iconsax" icon-name="inbox-2"></i>
<i class="iconsax" icon-name="inbox-3"></i>
<i class="iconsax" icon-name="inbox-4"></i>
<i class="iconsax" icon-name="inbox-in-1"></i>
<i class="iconsax" icon-name="inbox-in-2"></i>
<i class="iconsax" icon-name="inbox-notif"></i>
<i class="iconsax" icon-name="inbox-out-1"></i>
<i class="iconsax" icon-name="inbox-out-2"></i>
<i class="iconsax" icon-name="infinite"></i>
<i class="iconsax" icon-name="info-badge"></i>
<i class="iconsax" icon-name="info-circle"></i>
<i class="iconsax" icon-name="instagram"></i>
<i class="iconsax" icon-name="italic"></i>
<i class="iconsax" icon-name="item-rotate-left"></i>
<i class="iconsax" icon-name="item-rotate-right"></i>
<i class="iconsax" icon-name="judge"></i>
<i class="iconsax" icon-name="kanban"></i>
<i class="iconsax" icon-name="key"></i>
<i class="iconsax" icon-name="key-square"></i>
<i class="iconsax" icon-name="keyboard-1"></i>
<i class="iconsax" icon-name="keyboard-2"></i>
<i class="iconsax" icon-name="lamp-1"></i>
<i class="iconsax" icon-name="lamp-2"></i>
<i class="iconsax" icon-name="language-circle"></i>
<i class="iconsax" icon-name="language-square"></i>
<i class="iconsax" icon-name="layers-1"></i>
<i class="iconsax" icon-name="layers-2"></i>
<i class="iconsax" icon-name="layout-1"></i>
<i class="iconsax" icon-name="layout-2"></i>
<i class="iconsax" icon-name="layout-3"></i>
<i class="iconsax" icon-name="layout-4"></i>
<i class="iconsax" icon-name="layout-5"></i>
<i class="iconsax" icon-name="layout-6"></i>
<i class="iconsax" icon-name="layout-7"></i>
<i class="iconsax" icon-name="layout-8"></i>
<i class="iconsax" icon-name="layout-half"></i>
<i class="iconsax" icon-name="level"></i>
<i class="iconsax" icon-name="lifebuoy"></i>
<i class="iconsax" icon-name="like"></i>
<i class="iconsax" icon-name="like-badge"></i>
<i class="iconsax" icon-name="like-dislike"></i>
<i class="iconsax" icon-name="like-tag"></i>
<i class="iconsax" icon-name="line-spacing"></i>
<i class="iconsax" icon-name="link-1"></i>
<i class="iconsax" icon-name="link-2"></i>
<i class="iconsax" icon-name="link-3"></i>
<i class="iconsax" icon-name="link-4"></i>
<i class="iconsax" icon-name="link-circle"></i>
<i class="iconsax" icon-name="link-square"></i>
<i class="iconsax" icon-name="location"></i>
<i class="iconsax" icon-name="location-add"></i>
<i class="iconsax" icon-name="location-minus"></i>
<i class="iconsax" icon-name="location-slash"></i>
<i class="iconsax" icon-name="location-tick"></i>
<i class="iconsax" icon-name="location-x"></i>
<i class="iconsax" icon-name="lock-1"></i>
<i class="iconsax" icon-name="lock-2"></i>
<i class="iconsax" icon-name="lock-circle"></i>
<i class="iconsax" icon-name="lock-slash"></i>
<i class="iconsax" icon-name="login"></i>
<i class="iconsax" icon-name="login-2"></i>
<i class="iconsax" icon-name="logout-1"></i>
<i class="iconsax" icon-name="logout-2"></i>
<i class="iconsax" icon-name="loop"></i>
<i class="iconsax" icon-name="magic-star"></i>
<i class="iconsax" icon-name="magic-wand"></i>
<i class="iconsax" icon-name="mail"></i>
<i class="iconsax" icon-name="mail-edit"></i>
<i class="iconsax" icon-name="mail-notif"></i>
<i class="iconsax" icon-name="mail-search"></i>
<i class="iconsax" icon-name="mail-speed"></i>
<i class="iconsax" icon-name="mail-star"></i>
<i class="iconsax" icon-name="main-component"></i>
<i class="iconsax" icon-name="male"></i>
<i class="iconsax" icon-name="map-1"></i>
<i class="iconsax" icon-name="map-2"></i>
<i class="iconsax" icon-name="map-3"></i>
<i class="iconsax" icon-name="mask"></i>
<i class="iconsax" icon-name="mask-1"></i>
<i class="iconsax" icon-name="mask-2"></i>
<i class="iconsax" icon-name="mask-3"></i>
<i class="iconsax" icon-name="math-1"></i>
<i class="iconsax" icon-name="math-2"></i>
<i class="iconsax" icon-name="maximize"></i>
<i class="iconsax" icon-name="maximize-1"></i>
<i class="iconsax" icon-name="maximize-2"></i>
<i class="iconsax" icon-name="maximize-3"></i>
<i class="iconsax" icon-name="maximize-3-square"></i>
<i class="iconsax" icon-name="maximize-circle"></i>
<i class="iconsax" icon-name="media-backward"></i>
<i class="iconsax" icon-name="media-backward-10s"></i>
<i class="iconsax" icon-name="media-backward-15s"></i>
<i class="iconsax" icon-name="media-backward-5s"></i>
<i class="iconsax" icon-name="media-forward"></i>
<i class="iconsax" icon-name="media-forward-10s"></i>
<i class="iconsax" icon-name="media-forward-15s"></i>
<i class="iconsax" icon-name="media-forward-5s"></i>
<i class="iconsax" icon-name="media-next"></i>
<i class="iconsax" icon-name="media-previous"></i>
<i class="iconsax" icon-name="media-repeat"></i>
<i class="iconsax" icon-name="media-repeat-single"></i>
<i class="iconsax" icon-name="media-sliders-1"></i>
<i class="iconsax" icon-name="media-sliders-2"></i>
<i class="iconsax" icon-name="media-sliders-3"></i>
<i class="iconsax" icon-name="menu-4-dots"></i>
<i class="iconsax" icon-name="menu-meatballs"></i>
<i class="iconsax" icon-name="message-add"></i>
<i class="iconsax" icon-name="message-circle"></i>
<i class="iconsax" icon-name="message-dash-1"></i>
<i class="iconsax" icon-name="message-dash-2"></i>
<i class="iconsax" icon-name="message-dash-add"></i>
<i class="iconsax" icon-name="message-dash-tick"></i>
<i class="iconsax" icon-name="message-dash-time"></i>
<i class="iconsax" icon-name="message-dash-x"></i>
<i class="iconsax" icon-name="message-dots"></i>
<i class="iconsax" icon-name="message-dots-favorite"></i>
<i class="iconsax" icon-name="message-edit"></i>
<i class="iconsax" icon-name="message-minus"></i>
<i class="iconsax" icon-name="message-notif"></i>
<i class="iconsax" icon-name="message-search"></i>
<i class="iconsax" icon-name="message-square"></i>
<i class="iconsax" icon-name="message-text"></i>
<i class="iconsax" icon-name="messages-1"></i>
<i class="iconsax" icon-name="messages-2"></i>
<i class="iconsax" icon-name="messages-3"></i>
<i class="iconsax" icon-name="messages-4"></i>
<i class="iconsax" icon-name="mic-1"></i>
<i class="iconsax" icon-name="mic-2"></i>
<i class="iconsax" icon-name="mic-slash-1"></i>
<i class="iconsax" icon-name="mic-slash-2"></i>
<i class="iconsax" icon-name="milk"></i>
<i class="iconsax" icon-name="minus"></i>
<i class="iconsax" icon-name="minus-circle"></i>
<i class="iconsax" icon-name="minus-square"></i>
<i class="iconsax" icon-name="mirror"></i>
<i class="iconsax" icon-name="mobile"></i>
<i class="iconsax" icon-name="money-1"></i>
<i class="iconsax" icon-name="money-2"></i>
<i class="iconsax" icon-name="money-3"></i>
<i class="iconsax" icon-name="money-4"></i>
<i class="iconsax" icon-name="money-5"></i>
<i class="iconsax" icon-name="money-add"></i>
<i class="iconsax" icon-name="money-change"></i>
<i class="iconsax" icon-name="money-forbidden"></i>
<i class="iconsax" icon-name="money-in"></i>
<i class="iconsax" icon-name="money-out"></i>
<i class="iconsax" icon-name="money-tick"></i>
<i class="iconsax" icon-name="money-time"></i>
<i class="iconsax" icon-name="money-x"></i>
<i class="iconsax" icon-name="monitor"></i>
<i class="iconsax" icon-name="monitor-message"></i>
<i class="iconsax" icon-name="monitor-record"></i>
<i class="iconsax" icon-name="moon"></i>
<i class="iconsax" icon-name="more-circle"></i>
<i class="iconsax" icon-name="more-square"></i>
<i class="iconsax" icon-name="mouse"></i>
<i class="iconsax" icon-name="music"></i>
<i class="iconsax" icon-name="music-circle-dashed"></i>
<i class="iconsax" icon-name="music-dashboard"></i>
<i class="iconsax" icon-name="music-list"></i>
<i class="iconsax" icon-name="music-multi"></i>
<i class="iconsax" icon-name="music-playlist"></i>
<i class="iconsax" icon-name="music-square-1"></i>
<i class="iconsax" icon-name="music-square-2"></i>
<i class="iconsax" icon-name="music-square-3"></i>
<i class="iconsax" icon-name="music-square-4"></i>
<i class="iconsax" icon-name="music-square-add"></i>
<i class="iconsax" icon-name="music-square-search"></i>
<i class="iconsax" icon-name="music-square-x"></i>
<i class="iconsax" icon-name="musicnote"></i>
<i class="iconsax" icon-name="not-allowed-1"></i>
<i class="iconsax" icon-name="not-allowed-2"></i>
<i class="iconsax" icon-name="not-allowed-3"></i>
<i class="iconsax" icon-name="note"></i>
<i class="iconsax" icon-name="note-add"></i>
<i class="iconsax" icon-name="note-favorite"></i>
<i class="iconsax" icon-name="note-text"></i>
<i class="iconsax" icon-name="note-x"></i>
<i class="iconsax" icon-name="notepad"></i>
<i class="iconsax" icon-name="notes-1"></i>
<i class="iconsax" icon-name="notes-2"></i>
<i class="iconsax" icon-name="notif-circle"></i>
<i class="iconsax" icon-name="notif-favorite"></i>
<i class="iconsax" icon-name="notif-square"></i>
<i class="iconsax" icon-name="notif-text-square"></i>
<i class="iconsax" icon-name="nut"></i>
<i class="iconsax" icon-name="omega-circle"></i>
<i class="iconsax" icon-name="omega-square"></i>
<i class="iconsax" icon-name="package"></i>
<i class="iconsax" icon-name="page-with-bookmark-1"></i>
<i class="iconsax" icon-name="page-with-bookmark-2"></i>
<i class="iconsax" icon-name="paintbucket-1"></i>
<i class="iconsax" icon-name="paintbucket-2"></i>
<i class="iconsax" icon-name="paintbucket-circle"></i>
<i class="iconsax" icon-name="paintbucket-square"></i>
<i class="iconsax" icon-name="paperclip-1"></i>
<i class="iconsax" icon-name="paperclip-2"></i>
<i class="iconsax" icon-name="paperclip-circle"></i>
<i class="iconsax" icon-name="paperclip-square"></i>
<i class="iconsax" icon-name="password-check"></i>
<i class="iconsax" icon-name="pause"></i>
<i class="iconsax" icon-name="pause-circle"></i>
<i class="iconsax" icon-name="pen-path-1"></i>
<i class="iconsax" icon-name="pen-path-2"></i>
<i class="iconsax" icon-name="pen-tool-1"></i>
<i class="iconsax" icon-name="pen-tool-2"></i>
<i class="iconsax" icon-name="pen-tool-add"></i>
<i class="iconsax" icon-name="pen-tool-minus"></i>
<i class="iconsax" icon-name="pen-tool-square"></i>
<i class="iconsax" icon-name="pen-tool-x"></i>
<i class="iconsax" icon-name="percentage-circle"></i>
<i class="iconsax" icon-name="percentage-square"></i>
<i class="iconsax" icon-name="person-card"></i>
<i class="iconsax" icon-name="pet"></i>
<i class="iconsax" icon-name="phone"></i>
<i class="iconsax" icon-name="phone-add"></i>
<i class="iconsax" icon-name="phone-minus"></i>
<i class="iconsax" icon-name="phone-outgoing"></i>
<i class="iconsax" icon-name="phone-receive"></i>
<i class="iconsax" icon-name="phone-ringing"></i>
<i class="iconsax" icon-name="phone-slash"></i>
<i class="iconsax" icon-name="phone-tick"></i>
<i class="iconsax" icon-name="phone-x"></i>
<i class="iconsax" icon-name="picture"></i>
<i class="iconsax" icon-name="picture-1"></i>
<i class="iconsax" icon-name="picture-add"></i>
<i class="iconsax" icon-name="picture-download"></i>
<i class="iconsax" icon-name="picture-edit"></i>
<i class="iconsax" icon-name="picture-favorite"></i>
<i class="iconsax" icon-name="picture-slash"></i>
<i class="iconsax" icon-name="picture-tick"></i>
<i class="iconsax" icon-name="picture-upload"></i>
<i class="iconsax" icon-name="picture-x"></i>
<i class="iconsax" icon-name="pie-chart"></i>
<i class="iconsax" icon-name="play"></i>
<i class="iconsax" icon-name="play-circle"></i>
<i class="iconsax" icon-name="play-circle-add"></i>
<i class="iconsax" icon-name="play-circle-dashed"></i>
<i class="iconsax" icon-name="play-circle-x"></i>
<i class="iconsax" icon-name="play-octagon"></i>
<i class="iconsax" icon-name="play-square"></i>
<i class="iconsax" icon-name="plug"></i>
<i class="iconsax" icon-name="pop-in-circle"></i>
<i class="iconsax" icon-name="pop-in-square"></i>
<i class="iconsax" icon-name="pop-out"></i>
<i class="iconsax" icon-name="pop-out-player"></i>
<i class="iconsax" icon-name="presentation-chart"></i>
<i class="iconsax" icon-name="printer"></i>
<i class="iconsax" icon-name="printer-slash"></i>
<i class="iconsax" icon-name="qr-code"></i>
<i class="iconsax" icon-name="question-message"></i>
<i class="iconsax" icon-name="quote-end"></i>
<i class="iconsax" icon-name="quote-start-circle"></i>
<i class="iconsax" icon-name="quote-end-circle"></i>
<i class="iconsax" icon-name="quote-end-square"></i>
<i class="iconsax" icon-name="quote-start"></i>
<i class="iconsax" icon-name="quote-start-square"></i>
<i class="iconsax" icon-name="radar-1"></i>
<i class="iconsax" icon-name="radar-2"></i>
<i class="iconsax" icon-name="radar-3"></i>
<i class="iconsax" icon-name="radial-chart"></i>
<i class="iconsax" icon-name="radio"></i>
<i class="iconsax" icon-name="ram-1"></i>
<i class="iconsax" icon-name="ram-2"></i>
<i class="iconsax" icon-name="ranking"></i>
<i class="iconsax" icon-name="ranking-1"></i>
<i class="iconsax" icon-name="reblog"></i>
<i class="iconsax" icon-name="receipt"></i>
<i class="iconsax" icon-name="receipt-2"></i>
<i class="iconsax" icon-name="receipt-3"></i>
<i class="iconsax" icon-name="receipt-4"></i>
<i class="iconsax" icon-name="receipt-add"></i>
<i class="iconsax" icon-name="receipt-discount-1"></i>
<i class="iconsax" icon-name="receipt-discount-2"></i>
<i class="iconsax" icon-name="receipt-edit"></i>
<i class="iconsax" icon-name="receipt-list"></i>
<i class="iconsax" icon-name="receipt-minus-1"></i>
<i class="iconsax" icon-name="receipt-minus-2"></i>
<i class="iconsax" icon-name="receipt-search"></i>
<i class="iconsax" icon-name="receipt-square"></i>
<i class="iconsax" icon-name="receipt-text"></i>
<i class="iconsax" icon-name="receive-diagonal-down"></i>
<i class="iconsax" icon-name="receive-diagonal-square"></i>
<i class="iconsax" icon-name="record-circle"></i>
<i class="iconsax" icon-name="recover"></i>
<i class="iconsax" icon-name="redo"></i>
<i class="iconsax" icon-name="redo-square"></i>
<i class="iconsax" icon-name="refresh"></i>
<i class="iconsax" icon-name="refresh-circle"></i>
<i class="iconsax" icon-name="refresh-left-square"></i>
<i class="iconsax" icon-name="refresh-right-square"></i>
<i class="iconsax" icon-name="refresh-square"></i>
<i class="iconsax" icon-name="repeat"></i>
<i class="iconsax" icon-name="repeat-circle"></i>
<i class="iconsax" icon-name="retweet"></i>
<i class="iconsax" icon-name="rotate-left"></i>
<i class="iconsax" icon-name="rotate-right"></i>
<i class="iconsax" icon-name="route-1"></i>
<i class="iconsax" icon-name="route-2"></i>
<i class="iconsax" icon-name="rows-1"></i>
<i class="iconsax" icon-name="rows-2"></i>
<i class="iconsax" icon-name="ruler"></i>
<i class="iconsax" icon-name="ruler-and-pen"></i>
<i class="iconsax" icon-name="safebox-1"></i>
<i class="iconsax" icon-name="safebox-2"></i>
<i class="iconsax" icon-name="sagittarius"></i>
<i class="iconsax" icon-name="scan-1"></i>
<i class="iconsax" icon-name="scan-2"></i>
<i class="iconsax" icon-name="scan-3"></i>
<i class="iconsax" icon-name="scan-4"></i>
<i class="iconsax" icon-name="scissors"></i>
<i class="iconsax" icon-name="scissors-square"></i>
<i class="iconsax" icon-name="scroll-horizontal-square"></i>
<i class="iconsax" icon-name="search-favorite-1"></i>
<i class="iconsax" icon-name="search-favorite-2"></i>
<i class="iconsax" icon-name="search-normal-1"></i>
<i class="iconsax" icon-name="search-normal-2"></i>
<i class="iconsax" icon-name="search-status-1"></i>
<i class="iconsax" icon-name="search-status-2"></i>
<i class="iconsax" icon-name="search-zoom-in"></i>
<i class="iconsax" icon-name="search-zoom-in-2"></i>
<i class="iconsax" icon-name="search-zoom-out-1"></i>
<i class="iconsax" icon-name="search-zoom-out-2"></i>
<i class="iconsax" icon-name="send-1"></i>
<i class="iconsax" icon-name="send-2"></i>
<i class="iconsax" icon-name="send-diagonal-square"></i>
<i class="iconsax" icon-name="send-diagonal-up"></i>
<i class="iconsax" icon-name="setting-1"></i>
<i class="iconsax" icon-name="setting-2"></i>
<i class="iconsax" icon-name="setting-3"></i>
<i class="iconsax" icon-name="shapes-1"></i>
<i class="iconsax" icon-name="shapes-2"></i>
<i class="iconsax" icon-name="share"></i>
<i class="iconsax" icon-name="shield"></i>
<i class="iconsax" icon-name="shield-card"></i>
<i class="iconsax" icon-name="shield-lock"></i>
<i class="iconsax" icon-name="shield-search"></i>
<i class="iconsax" icon-name="shield-slash"></i>
<i class="iconsax" icon-name="shield-tick"></i>
<i class="iconsax" icon-name="shield-time"></i>
<i class="iconsax" icon-name="shield-user"></i>
<i class="iconsax" icon-name="shield-x"></i>
<i class="iconsax" icon-name="ship"></i>
<i class="iconsax" icon-name="shop"></i>
<i class="iconsax" icon-name="shop-add"></i>
<i class="iconsax" icon-name="shop-minus"></i>
<i class="iconsax" icon-name="shopping-cart"></i>
<i class="iconsax" icon-name="shuffle-1"></i>
<i class="iconsax" icon-name="shuffle-2"></i>
<i class="iconsax" icon-name="sidebar-left"></i>
<i class="iconsax" icon-name="sidebar-right"></i>
<i class="iconsax" icon-name="signpost"></i>
<i class="iconsax" icon-name="simcard-1"></i>
<i class="iconsax" icon-name="simcard-2"></i>
<i class="iconsax" icon-name="simcards"></i>
<i class="iconsax" icon-name="size"></i>
<i class="iconsax" icon-name="slider"></i>
<i class="iconsax" icon-name="slideshow-horizontal-1"></i>
<i class="iconsax" icon-name="slideshow-horizontal-2"></i>
<i class="iconsax" icon-name="slideshow-vertical-1"></i>
<i class="iconsax" icon-name="slideshow-vertical-2"></i>
<i class="iconsax" icon-name="smart-car"></i>
<i class="iconsax" icon-name="smart-home"></i>
<i class="iconsax" icon-name="smileys"></i>
<i class="iconsax" icon-name="snow"></i>
<i class="iconsax" icon-name="sort"></i>
<i class="iconsax" icon-name="sound"></i>
<i class="iconsax" icon-name="sound-circle"></i>
<i class="iconsax" icon-name="speaker"></i>
<i class="iconsax" icon-name="speedometer"></i>
<i class="iconsax" icon-name="square"></i>
<i class="iconsax" icon-name="star"></i>
<i class="iconsax" icon-name="star-slash"></i>
<i class="iconsax" icon-name="star-speed"></i>
<i class="iconsax" icon-name="status"></i>
<i class="iconsax" icon-name="stickynote"></i>
<i class="iconsax" icon-name="stickynote-round"></i>
<i class="iconsax" icon-name="stop-circle"></i>
<i class="iconsax" icon-name="stopwatch"></i>
<i class="iconsax" icon-name="stopwatch-play"></i>
<i class="iconsax" icon-name="stopwatch-pause"></i>
<i class="iconsax" icon-name="story"></i>
<i class="iconsax" icon-name="subtitles"></i>
<i class="iconsax" icon-name="sun"></i>
<i class="iconsax" icon-name="sun-fog"></i>
<i class="iconsax" icon-name="swap-horizontal"></i>
<i class="iconsax" icon-name="swap-horizontal-circle"></i>
<i class="iconsax" icon-name="swap-horizontal-square"></i>
<i class="iconsax" icon-name="swap-vertical"></i>
<i class="iconsax" icon-name="swap-vertical-circle"></i>
<i class="iconsax" icon-name="swap-vertical-square"></i>
<i class="iconsax" icon-name="tag-1"></i>
<i class="iconsax" icon-name="tag-2"></i>
<i class="iconsax" icon-name="task-list"></i>
<i class="iconsax" icon-name="task-list-square"></i>
<i class="iconsax" icon-name="teacher"></i>
<i class="iconsax" icon-name="telescope"></i>
<i class="iconsax" icon-name="text"></i>
<i class="iconsax" icon-name="text-align-center"></i>
<i class="iconsax" icon-name="text-align-justify-center"></i>
<i class="iconsax" icon-name="text-align-justify-left"></i>
<i class="iconsax" icon-name="text-align-justify-right"></i>
<i class="iconsax" icon-name="text-align-left"></i>
<i class="iconsax" icon-name="text-align-right"></i>
<i class="iconsax" icon-name="text-block"></i>
<i class="iconsax" icon-name="therefore"></i>
<i class="iconsax" icon-name="tick-circle"></i>
<i class="iconsax" icon-name="tick-square"></i>
<i class="iconsax" icon-name="ticket-1"></i>
<i class="iconsax" icon-name="ticket-2"></i>
<i class="iconsax" icon-name="ticket-discount"></i>
<i class="iconsax" icon-name="ticket-star"></i>
<i class="iconsax" icon-name="ticket-tear"></i>
<i class="iconsax" icon-name="toggle-off-round"></i>
<i class="iconsax" icon-name="toggle-off-square"></i>
<i class="iconsax" icon-name="toggle-on-round"></i>
<i class="iconsax" icon-name="toggle-on-square"></i>
<i class="iconsax" icon-name="translate"></i>
<i class="iconsax" icon-name="trash"></i>
<i class="iconsax" icon-name="trash-square"></i>
<i class="iconsax" icon-name="tree"></i>
<i class="iconsax" icon-name="trend-down-square"></i>
<i class="iconsax" icon-name="trend-up"></i>
<i class="iconsax" icon-name="triangle"></i>
<i class="iconsax" icon-name="trophy"></i>
<i class="iconsax" icon-name="truck"></i>
<i class="iconsax" icon-name="truck-speed"></i>
<i class="iconsax" icon-name="truck-tick"></i>
<i class="iconsax" icon-name="truck-time"></i>
<i class="iconsax" icon-name="truck-x"></i>
<i class="iconsax" icon-name="tuning-knob"></i>
<i class="iconsax" icon-name="underline"></i>
<i class="iconsax" icon-name="undo"></i>
<i class="iconsax" icon-name="undo-square"></i>
<i class="iconsax" icon-name="unlock"></i>
<i class="iconsax" icon-name="upload-1"></i>
<i class="iconsax" icon-name="upload-2"></i>
<i class="iconsax" icon-name="upload-square"></i>
<i class="iconsax" icon-name="uppercase-lowercase"></i>
<i class="iconsax" icon-name="user-1"></i>
<i class="iconsax" icon-name="user-1-add"></i>
<i class="iconsax" icon-name="user-1-minus"></i>
<i class="iconsax" icon-name="user-1-square"></i>
<i class="iconsax" icon-name="user-1-tag"></i>
<i class="iconsax" icon-name="user-1-tick"></i>
<i class="iconsax" icon-name="user-1-x"></i>
<i class="iconsax" icon-name="user-2"></i>
<i class="iconsax" icon-name="user-2-add"></i>
<i class="iconsax" icon-name="user-2-circle"></i>
<i class="iconsax" icon-name="user-2-circle-add"></i>
<i class="iconsax" icon-name="user-2-edit"></i>
<i class="iconsax" icon-name="user-2-minus"></i>
<i class="iconsax" icon-name="user-2-tick"></i>
<i class="iconsax" icon-name="user-2-search"></i>
<i class="iconsax" icon-name="user-2-tag"></i>
<i class="iconsax" icon-name="user-2-x"></i>
<i class="iconsax" icon-name="user-octagon"></i>
<i class="iconsax" icon-name="users"></i>
<i class="iconsax" icon-name="verify"></i>
<i class="iconsax" icon-name="video"></i>
<i class="iconsax" icon-name="video-2"></i>
<i class="iconsax" icon-name="video-add"></i>
<i class="iconsax" icon-name="video-horizontal"></i>
<i class="iconsax" icon-name="video-slash"></i>
<i class="iconsax" icon-name="video-tick"></i>
<i class="iconsax" icon-name="video-time"></i>
<i class="iconsax" icon-name="video-vertical"></i>
<i class="iconsax" icon-name="video-x"></i>
<i class="iconsax" icon-name="voice-square"></i>
<i class="iconsax" icon-name="volume-add"></i>
<i class="iconsax" icon-name="volume-high"></i>
<i class="iconsax" icon-name="volume-low"></i>
<i class="iconsax" icon-name="volume-minus"></i>
<i class="iconsax" icon-name="volume-mute"></i>
<i class="iconsax" icon-name="volume-slash"></i>
<i class="iconsax" icon-name="volume-x"></i>
<i class="iconsax" icon-name="wallet-1"></i>
<i class="iconsax" icon-name="wallet-2"></i>
<i class="iconsax" icon-name="wallet-3"></i>
<i class="iconsax" icon-name="wallet-4"></i>
<i class="iconsax" icon-name="wallet-add"></i>
<i class="iconsax" icon-name="wallet-add-1"></i>
<i class="iconsax" icon-name="wallet-minus"></i>
<i class="iconsax" icon-name="wallet-money"></i>
<i class="iconsax" icon-name="wallet-open"></i>
<i class="iconsax" icon-name="wallet-open-add"></i>
<i class="iconsax" icon-name="wallet-open-change"></i>
<i class="iconsax" icon-name="wallet-open-tick"></i>
<i class="iconsax" icon-name="wallet-open-time"></i>
<i class="iconsax" icon-name="wallet-open-x"></i>
<i class="iconsax" icon-name="wallet-search"></i>
<i class="iconsax" icon-name="wallet-tick"></i>
<i class="iconsax" icon-name="wallet-x"></i>
<i class="iconsax" icon-name="warning-octagon"></i>
<i class="iconsax" icon-name="warning-triangle"></i>
<i class="iconsax" icon-name="watch-1"></i>
<i class="iconsax" icon-name="watch-2"></i>
<i class="iconsax" icon-name="watch-activity"></i>
<i class="iconsax" icon-name="weight-scale"></i>
<i class="iconsax" icon-name="weights"></i>
<i class="iconsax" icon-name="wifi"></i>
<i class="iconsax" icon-name="wifi-square"></i>
<i class="iconsax" icon-name="wind-1"></i>
<i class="iconsax" icon-name="wind-2"></i>
<i class="iconsax" icon-name="x"></i>
<i class="iconsax" icon-name="x-circle"></i>
<i class="iconsax" icon-name="x-square"></i>
