/*-------------------------------------------

     ICONSAX | iconsax.io | linear style
     Made by: Vuesax (vuesax.com)
     Version: 2021

     Resources used:
     ＊ oslllo-svg-fixer
     ＊ fontello

     Icon cheatsheet by @glenthemes:
     iconsax.gitlab.io/i/view

-------------------------------------------*/

@font-face {
  font-family: 'iconsax';
  src: url('./files/iconsax.eot?68506481');
  src: url('./files/iconsax.eot?68506481#iefix') format('embedded-opentype'),
       url('./files/iconsax.woff2?68506481') format('woff2'),
       url('./files/iconsax.woff?68506481') format('woff'),
       url('./files/iconsax.ttf?68506481') format('truetype'),
       url('./files/iconsax.svg?68506481#iconsax') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconsax';
    src: url('./files/iconsax.svg?68506481#iconsax') format('svg');
  }
}

.iconsax {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsax' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsax[icon-name="24hr-service"]:before { content: '\eb12'; }
.iconsax[icon-name="3d-cube"]:before { content: '\e858'; }
.iconsax[icon-name="activity-chart"]:before { content: '\e969'; }
.iconsax[icon-name="activity-chart-favorite"]:before { content: '\e84e'; }
.iconsax[icon-name="activity-square"]:before { content: '\e88a'; }
.iconsax[icon-name="add"]:before { content: '\e9d0'; }
.iconsax[icon-name="add-circle"]:before { content: '\e887'; }
.iconsax[icon-name="add-layer"]:before { content: '\eb3e'; }
.iconsax[icon-name="add-square"]:before { content: '\ea5a'; }
.iconsax[icon-name="airdrop"]:before { content: '\e9fc'; }
.iconsax[icon-name="airplane"]:before { content: '\e83b'; }
.iconsax[icon-name="airplane-square"]:before { content: '\e966'; }
.iconsax[icon-name="airpod"]:before { content: '\e971'; }
.iconsax[icon-name="airpods"]:before { content: '\eae2'; }
.iconsax[icon-name="alarm"]:before { content: '\e81f'; }
.iconsax[icon-name="align-bottom"]:before { content: '\e9f8'; }
.iconsax[icon-name="align-left"]:before { content: '\e804'; }
.iconsax[icon-name="align-right"]:before { content: '\e9ad'; }
.iconsax[icon-name="align-top"]:before { content: '\eaf8'; }
.iconsax[icon-name="align-x-center"]:before { content: '\ea6a'; }
.iconsax[icon-name="align-y-center"]:before { content: '\e9b6'; }
.iconsax[icon-name="aquarius"]:before { content: '\eb42'; }
.iconsax[icon-name="archive-book"]:before { content: '\e9f6'; }
.iconsax[icon-name="archive-closed"]:before { content: '\e81d'; }
.iconsax[icon-name="archive-open"]:before { content: '\ea77'; }
.iconsax[icon-name="arrow-down"]:before { content: '\e81b'; }
.iconsax[icon-name="arrow-down-circle"]:before { content: '\e85e'; }
.iconsax[icon-name="arrow-down-thick-1"]:before { content: '\e9f5'; }
.iconsax[icon-name="arrow-down-thick-3"]:before { content: '\e93b'; }
.iconsax[icon-name="arrow-left"]:before { content: '\e87f'; }
.iconsax[icon-name="arrow-left-circle"]:before { content: '\e929'; }
.iconsax[icon-name="arrow-left-thick-1"]:before { content: '\e91d'; }
.iconsax[icon-name="arrow-left-thick-3"]:before { content: '\e92a'; }
.iconsax[icon-name="arrow-right"]:before { content: '\ea95'; }
.iconsax[icon-name="arrow-right-circle"]:before { content: '\e991'; }
.iconsax[icon-name="arrow-right-thick-1"]:before { content: '\eaee'; }
.iconsax[icon-name="arrow-right-thick-2"]:before { content: '\e8a0'; }
.iconsax[icon-name="arrow-right-thick-3"]:before { content: '\e952'; }
.iconsax[icon-name="arrow-up"]:before { content: '\e89a'; }
.iconsax[icon-name="arrow-up-circle"]:before { content: '\eaf9'; }
.iconsax[icon-name="arrow-up-down"]:before { content: '\eadf'; }
.iconsax[icon-name="arrow-up-thick-1"]:before { content: '\ea64'; }
.iconsax[icon-name="arrow-up-thick-3"]:before { content: '\eb1b'; }
.iconsax[icon-name="auto-brightness"]:before { content: '\e947'; }
.iconsax[icon-name="award"]:before { content: '\e986'; }
.iconsax[icon-name="award-2"]:before { content: '\e883'; }
.iconsax[icon-name="award-3"]:before { content: '\ea30'; }
.iconsax[icon-name="background-layer"]:before { content: '\e807'; }
.iconsax[icon-name="backspace"]:before { content: '\e95e'; }
.iconsax[icon-name="bank"]:before { content: '\e8dd'; }
.iconsax[icon-name="bank-card"]:before { content: '\e9e1'; }
.iconsax[icon-name="bank-card-add"]:before { content: '\e816'; }
.iconsax[icon-name="bank-card-convert"]:before { content: '\ea2b'; }
.iconsax[icon-name="bank-card-diagonal"]:before { content: '\ea55'; }
.iconsax[icon-name="bank-card-receive"]:before { content: '\eb31'; }
.iconsax[icon-name="bank-card-send"]:before { content: '\eb62'; }
.iconsax[icon-name="bank-card-slash"]:before { content: '\e9a9'; }
.iconsax[icon-name="bank-card-tick-1"]:before { content: '\eb21'; }
.iconsax[icon-name="bank-card-tick-2"]:before { content: '\e809'; }
.iconsax[icon-name="bank-card-x-1"]:before { content: '\e8e6'; }
.iconsax[icon-name="bank-card-x-2"]:before { content: '\ea21'; }
.iconsax[icon-name="bank-cards"]:before { content: '\e821'; }
.iconsax[icon-name="bar-graph-1"]:before { content: '\ea8f'; }
.iconsax[icon-name="bar-graph-2"]:before { content: '\eac6'; }
.iconsax[icon-name="bar-graph-3"]:before { content: '\eb46'; }
.iconsax[icon-name="bar-graph-4"]:before { content: '\ea80'; }
.iconsax[icon-name="bar-graph-5"]:before { content: '\e9b0'; }
.iconsax[icon-name="barcode"]:before { content: '\e964'; }
.iconsax[icon-name="basket-1"]:before { content: '\e9ba'; }
.iconsax[icon-name="basket-2"]:before { content: '\eab2'; }
.iconsax[icon-name="basket-3"]:before { content: '\eab4'; }
.iconsax[icon-name="basket-happy"]:before { content: '\eb16'; }
.iconsax[icon-name="basket-tick-1"]:before { content: '\eb8a'; }
.iconsax[icon-name="basket-tick-2"]:before { content: '\e9bf'; }
.iconsax[icon-name="basket-time"]:before { content: '\e90a'; }
.iconsax[icon-name="basket-x"]:before { content: '\e909'; }
.iconsax[icon-name="basket-x-1"]:before { content: '\e9c6'; }
.iconsax[icon-name="battery-1"]:before { content: '\ea2c'; }
.iconsax[icon-name="battery-2"]:before { content: '\e9de'; }
.iconsax[icon-name="battery-charging"]:before { content: '\ea4f'; }
.iconsax[icon-name="battery-disable"]:before { content: '\eb74'; }
.iconsax[icon-name="battery-empty"]:before { content: '\e950'; }
.iconsax[icon-name="battery-full"]:before { content: '\ea06'; }
.iconsax[icon-name="bell-1"]:before { content: '\eb5a'; }
.iconsax[icon-name="bell-2"]:before { content: '\e80d'; }
.iconsax[icon-name="bell-3"]:before { content: '\e9a7'; }
.iconsax[icon-name="bezier"]:before { content: '\e825'; }
.iconsax[icon-name="bill"]:before { content: '\e95f'; }
.iconsax[icon-name="birdhouse"]:before { content: '\e8da'; }
.iconsax[icon-name="blend-1"]:before { content: '\e860'; }
.iconsax[icon-name="blend-2"]:before { content: '\e82d'; }
.iconsax[icon-name="bluetooth"]:before { content: '\e9f3'; }
.iconsax[icon-name="bluetooth-2"]:before { content: '\e8fa'; }
.iconsax[icon-name="bluetooth-circle"]:before { content: '\ea05'; }
.iconsax[icon-name="bluetooth-rectangle"]:before { content: '\e8b4'; }
.iconsax[icon-name="blur"]:before { content: '\eb06'; }
.iconsax[icon-name="bold"]:before { content: '\ea83'; }
.iconsax[icon-name="book-closed"]:before { content: '\ea44'; }
.iconsax[icon-name="book-open"]:before { content: '\e9cd'; }
.iconsax[icon-name="book-square"]:before { content: '\eae5'; }
.iconsax[icon-name="book-with-bookmark"]:before { content: '\ea7d'; }
.iconsax[icon-name="bookmark-add"]:before { content: '\e9d8'; }
.iconsax[icon-name="bookmark-minus"]:before { content: '\eb69'; }
.iconsax[icon-name="bookmark-minus-2"]:before { content: '\e9ea'; }
.iconsax[icon-name="bookmark-slash"]:before { content: '\e955'; }
.iconsax[icon-name="bookmark-tick"]:before { content: '\e9d5'; }
.iconsax[icon-name="bookmarks"]:before { content: '\ea1b'; }
.iconsax[icon-name="bookmarks-add"]:before { content: '\e83e'; }
.iconsax[icon-name="bookmarks-minus"]:before { content: '\eabe'; }
.iconsax[icon-name="bookmarks-x"]:before { content: '\ea1a'; }
.iconsax[icon-name="bounding-box"]:before { content: '\eb2d'; }
.iconsax[icon-name="bounding-circle"]:before { content: '\e981'; }
.iconsax[icon-name="box"]:before { content: '\ea57'; }
.iconsax[icon-name="box-add"]:before { content: '\e9b4'; }
.iconsax[icon-name="box-dashed"]:before { content: '\ea96'; }
.iconsax[icon-name="box-rotate"]:before { content: '\ea92'; }
.iconsax[icon-name="box-scan"]:before { content: '\e817'; }
.iconsax[icon-name="box-search"]:before { content: '\e984'; }
.iconsax[icon-name="box-square"]:before { content: '\e838'; }
.iconsax[icon-name="box-swap"]:before { content: '\ea2f'; }
.iconsax[icon-name="box-tick"]:before { content: '\e863'; }
.iconsax[icon-name="box-time"]:before { content: '\e889'; }
.iconsax[icon-name="box-x"]:before { content: '\eab9'; }
.iconsax[icon-name="briefcase"]:before { content: '\eafb'; }
.iconsax[icon-name="briefcase-tick"]:before { content: '\e951'; }
.iconsax[icon-name="briefcase-time"]:before { content: '\eb6d'; }
.iconsax[icon-name="briefcase-x"]:before { content: '\eb09'; }
.iconsax[icon-name="broom"]:before { content: '\e97a'; }
.iconsax[icon-name="brush-1"]:before { content: '\eb1c'; }
.iconsax[icon-name="brush-2"]:before { content: '\eaed'; }
.iconsax[icon-name="brush-3"]:before { content: '\e9ff'; }
.iconsax[icon-name="brush-4"]:before { content: '\ea94'; }
.iconsax[icon-name="brush-5"]:before { content: '\eacc'; }
.iconsax[icon-name="brush-tools"]:before { content: '\e8e2'; }
.iconsax[icon-name="bubbles"]:before { content: '\e925'; }
.iconsax[icon-name="building-1"]:before { content: '\e875'; }
.iconsax[icon-name="building-2"]:before { content: '\e826'; }
.iconsax[icon-name="building-3"]:before { content: '\e8ca'; }
.iconsax[icon-name="building-4"]:before { content: '\e845'; }
.iconsax[icon-name="buildings-1"]:before { content: '\eab6'; }
.iconsax[icon-name="buildings-2"]:before { content: '\eb60'; }
.iconsax[icon-name="bulb"]:before { content: '\eaa4'; }
.iconsax[icon-name="bulb-charge"]:before { content: '\e880'; }
.iconsax[icon-name="bulb-slash"]:before { content: '\e82e'; }
.iconsax[icon-name="bus"]:before { content: '\e92d'; }
.iconsax[icon-name="cake"]:before { content: '\ea32'; }
.iconsax[icon-name="calculator"]:before { content: '\e83a'; }
.iconsax[icon-name="calendar-1"]:before { content: '\e881'; }
.iconsax[icon-name="calendar-2"]:before { content: '\ead1'; }
.iconsax[icon-name="calendar-3"]:before { content: '\eaff'; }
.iconsax[icon-name="calendar-add"]:before { content: '\eaf7'; }
.iconsax[icon-name="calendar-circle"]:before { content: '\eae7'; }
.iconsax[icon-name="calendar-edit"]:before { content: '\e9ab'; }
.iconsax[icon-name="calendar-search"]:before { content: '\eaf4'; }
.iconsax[icon-name="calendar-tick"]:before { content: '\ea8b'; }
.iconsax[icon-name="calendar-x"]:before { content: '\e802'; }
.iconsax[icon-name="camera"]:before { content: '\e94e'; }
.iconsax[icon-name="camera-slash"]:before { content: '\eb10'; }
.iconsax[icon-name="car"]:before { content: '\e8a7'; }
.iconsax[icon-name="card-coin"]:before { content: '\eb5f'; }
.iconsax[icon-name="card-edit"]:before { content: '\eb17'; }
.iconsax[icon-name="cast"]:before { content: '\e9fb'; }
.iconsax[icon-name="cd"]:before { content: '\e90e'; }
.iconsax[icon-name="change-shape-1"]:before { content: '\eb05'; }
.iconsax[icon-name="change-shape-2"]:before { content: '\eb92'; }
.iconsax[icon-name="chart-square"]:before { content: '\ea4d'; }
.iconsax[icon-name="chart-tick"]:before { content: '\ea02'; }
.iconsax[icon-name="chart-x"]:before { content: '\ea76'; }
.iconsax[icon-name="chevron-down"]:before { content: '\eb75'; }
.iconsax[icon-name="chevron-down-circle"]:before { content: '\e906'; }
.iconsax[icon-name="chevron-down-square"]:before { content: '\e89e'; }
.iconsax[icon-name="chevron-left"]:before { content: '\e8ec'; }
.iconsax[icon-name="chevron-left-circle"]:before { content: '\ea20'; }
.iconsax[icon-name="chevron-left-square"]:before { content: '\eb57'; }
.iconsax[icon-name="chevron-right"]:before { content: '\e9c4'; }
.iconsax[icon-name="chevron-right-circle"]:before { content: '\e9d9'; }
.iconsax[icon-name="chevron-right-square"]:before { content: '\eaad'; }
.iconsax[icon-name="chevron-up"]:before { content: '\eacd'; }
.iconsax[icon-name="chevron-up-circle"]:before { content: '\e8dc'; }
.iconsax[icon-name="chevron-up-square"]:before { content: '\eb8d'; }
.iconsax[icon-name="chrome"]:before { content: '\e83d'; }
.iconsax[icon-name="circle"]:before { content: '\ea0c'; }
.iconsax[icon-name="clipboard"]:before { content: '\e814'; }
.iconsax[icon-name="clipboard-in"]:before { content: '\e90d'; }
.iconsax[icon-name="clipboard-out"]:before { content: '\e870'; }
.iconsax[icon-name="clipboard-text-1"]:before { content: '\e805'; }
.iconsax[icon-name="clipboard-text-2"]:before { content: '\ea68'; }
.iconsax[icon-name="clipboard-tick"]:before { content: '\eb29'; }
.iconsax[icon-name="clipboard-x"]:before { content: '\eb82'; }
.iconsax[icon-name="clock"]:before { content: '\e8a3'; }
.iconsax[icon-name="cloud"]:before { content: '\e86c'; }
.iconsax[icon-name="cloud-add"]:before { content: '\eaef'; }
.iconsax[icon-name="cloud-change"]:before { content: '\e97d'; }
.iconsax[icon-name="cloud-connection"]:before { content: '\e8b6'; }
.iconsax[icon-name="cloud-fog"]:before { content: '\e9c7'; }
.iconsax[icon-name="cloud-lightning"]:before { content: '\e9a0'; }
.iconsax[icon-name="cloud-minus"]:before { content: '\e92e'; }
.iconsax[icon-name="cloud-notif"]:before { content: '\ea5b'; }
.iconsax[icon-name="cloud-rain"]:before { content: '\eaac'; }
.iconsax[icon-name="cloud-snow"]:before { content: '\ea84'; }
.iconsax[icon-name="cloud-sunny"]:before { content: '\e907'; }
.iconsax[icon-name="cloud-tick"]:before { content: '\e945'; }
.iconsax[icon-name="cloud-x-1"]:before { content: '\e9b1'; }
.iconsax[icon-name="cloud-x-circle"]:before { content: '\ea04'; }
.iconsax[icon-name="code-1"]:before { content: '\ea6f'; }
.iconsax[icon-name="code-2"]:before { content: '\ea34'; }
.iconsax[icon-name="code-circle"]:before { content: '\e9d4'; }
.iconsax[icon-name="code-clipboard"]:before { content: '\eae4'; }
.iconsax[icon-name="code-tag"]:before { content: '\e8bd'; }
.iconsax[icon-name="coffee"]:before { content: '\ea37'; }
.iconsax[icon-name="coins-2"]:before { content: '\e985'; }
.iconsax[icon-name="coins-3"]:before { content: '\eaa6'; }
.iconsax[icon-name="coins-4"]:before { content: '\e96c'; }
.iconsax[icon-name="color-filter"]:before { content: '\e8f2'; }
.iconsax[icon-name="color-filter-square"]:before { content: '\e867'; }
.iconsax[icon-name="color-swatch"]:before { content: '\e81c'; }
.iconsax[icon-name="columns"]:before { content: '\ea85'; }
.iconsax[icon-name="command"]:before { content: '\e8c7'; }
.iconsax[icon-name="command-square"]:before { content: '\e99a'; }
.iconsax[icon-name="compass-1"]:before { content: '\e839'; }
.iconsax[icon-name="compass-2"]:before { content: '\ea59'; }
.iconsax[icon-name="component"]:before { content: '\e84f'; }
.iconsax[icon-name="convert"]:before { content: '\e954'; }
.iconsax[icon-name="copy"]:before { content: '\e9c1'; }
.iconsax[icon-name="copy-tick"]:before { content: '\e81e'; }
.iconsax[icon-name="copyright"]:before { content: '\eb24'; }
.iconsax[icon-name="courthouse"]:before { content: '\e8bf'; }
.iconsax[icon-name="cpu"]:before { content: '\ea13'; }
.iconsax[icon-name="cpu-charge"]:before { content: '\e866'; }
.iconsax[icon-name="cpu-setting"]:before { content: '\eacf'; }
.iconsax[icon-name="creative-commons"]:before { content: '\eb0d'; }
.iconsax[icon-name="crop"]:before { content: '\eb01'; }
.iconsax[icon-name="crown-1"]:before { content: '\e97b'; }
.iconsax[icon-name="crown-2"]:before { content: '\e992'; }
.iconsax[icon-name="cue-cards"]:before { content: '\eaa5'; }
.iconsax[icon-name="cursor-circle"]:before { content: '\e960'; }
.iconsax[icon-name="cursor-circle-1"]:before { content: '\e900'; }
.iconsax[icon-name="cursor-square"]:before { content: '\ead7'; }
.iconsax[icon-name="cursor-square-1"]:before { content: '\e9e4'; }
.iconsax[icon-name="devices-1"]:before { content: '\ead9'; }
.iconsax[icon-name="devices-2"]:before { content: '\eadd'; }
.iconsax[icon-name="diamonds"]:before { content: '\e868'; }
.iconsax[icon-name="directions"]:before { content: '\eb35'; }
.iconsax[icon-name="directions-square"]:before { content: '\eb2b'; }
.iconsax[icon-name="discount-badge"]:before { content: '\ead8'; }
.iconsax[icon-name="discount-circle"]:before { content: '\e942'; }
.iconsax[icon-name="dislike"]:before { content: '\eaa8'; }
.iconsax[icon-name="document-1"]:before { content: '\ea12'; }
.iconsax[icon-name="document-2"]:before { content: '\ea03'; }
.iconsax[icon-name="document-cloud"]:before { content: '\e99b'; }
.iconsax[icon-name="document-code-1"]:before { content: '\e9ce'; }
.iconsax[icon-name="document-code-2"]:before { content: '\e9e3'; }
.iconsax[icon-name="document-copy"]:before { content: '\e98a'; }
.iconsax[icon-name="document-download"]:before { content: '\e937'; }
.iconsax[icon-name="document-favorite"]:before { content: '\eb45'; }
.iconsax[icon-name="document-favorite-1"]:before { content: '\ea14'; }
.iconsax[icon-name="document-filter"]:before { content: '\e856'; }
.iconsax[icon-name="document-forward"]:before { content: '\eb3f'; }
.iconsax[icon-name="document-previous"]:before { content: '\ea1e'; }
.iconsax[icon-name="document-sketch"]:before { content: '\e82a'; }
.iconsax[icon-name="document-text-1"]:before { content: '\eb53'; }
.iconsax[icon-name="document-text-2"]:before { content: '\e94f'; }
.iconsax[icon-name="document-upload"]:before { content: '\e89c'; }
.iconsax[icon-name="dollar-circle"]:before { content: '\eb19'; }
.iconsax[icon-name="dollar-square"]:before { content: '\e91c'; }
.iconsax[icon-name="download-1"]:before { content: '\eb8e'; }
.iconsax[icon-name="download-2"]:before { content: '\ea69'; }
.iconsax[icon-name="download-square"]:before { content: '\ea89'; }
.iconsax[icon-name="driver-1"]:before { content: '\eb85'; }
.iconsax[icon-name="driver-2"]:before { content: '\ea8e'; }
.iconsax[icon-name="driver-refresh"]:before { content: '\eaa7'; }
.iconsax[icon-name="driving"]:before { content: '\e96d'; }
.iconsax[icon-name="drop"]:before { content: '\e848'; }
.iconsax[icon-name="earphones"]:before { content: '\e824'; }
.iconsax[icon-name="edit-1"]:before { content: '\e8ff'; }
.iconsax[icon-name="edit-2"]:before { content: '\eb28'; }
.iconsax[icon-name="emoji-happy"]:before { content: '\ea19'; }
.iconsax[icon-name="emoji-normal"]:before { content: '\e8f6'; }
.iconsax[icon-name="emoji-sad"]:before { content: '\e936'; }
.iconsax[icon-name="eraser"]:before { content: '\e91a'; }
.iconsax[icon-name="eraser-square"]:before { content: '\eb7e'; }
.iconsax[icon-name="external-circle"]:before { content: '\e8ef'; }
.iconsax[icon-name="external-drive"]:before { content: '\e88e'; }
.iconsax[icon-name="external-square"]:before { content: '\e8ed'; }
.iconsax[icon-name="eye"]:before { content: '\e8b9'; }
.iconsax[icon-name="eye-slash"]:before { content: '\e978'; }
.iconsax[icon-name="female"]:before { content: '\e8e0'; }
.iconsax[icon-name="filter"]:before { content: '\e888'; }
.iconsax[icon-name="filter-add"]:before { content: '\e9f9'; }
.iconsax[icon-name="filter-edit"]:before { content: '\e970'; }
.iconsax[icon-name="filter-search"]:before { content: '\eab1'; }
.iconsax[icon-name="filter-square"]:before { content: '\e88d'; }
.iconsax[icon-name="filter-tick"]:before { content: '\eac3'; }
.iconsax[icon-name="filter-x"]:before { content: '\e973'; }
.iconsax[icon-name="fingerprint-circle"]:before { content: '\e8cb'; }
.iconsax[icon-name="fingerprint-scan"]:before { content: '\e9ec'; }
.iconsax[icon-name="first-character"]:before { content: '\e92c'; }
.iconsax[icon-name="flag-1"]:before { content: '\ea2d'; }
.iconsax[icon-name="flag-2"]:before { content: '\eb0e'; }
.iconsax[icon-name="flash-1"]:before { content: '\e9a6'; }
.iconsax[icon-name="flash-circle-1"]:before { content: '\ea25'; }
.iconsax[icon-name="flash-circle-2"]:before { content: '\e9d6'; }
.iconsax[icon-name="flash-slash"]:before { content: '\e8eb'; }
.iconsax[icon-name="flash-speed"]:before { content: '\ea35'; }
.iconsax[icon-name="flask"]:before { content: '\e931'; }
.iconsax[icon-name="flow-chart-1"]:before { content: '\e87d'; }
.iconsax[icon-name="flow-chart-2"]:before { content: '\e800'; }
.iconsax[icon-name="folder-1"]:before { content: '\e820'; }
.iconsax[icon-name="folder-2"]:before { content: '\e90f'; }
.iconsax[icon-name="folder-add"]:before { content: '\e897'; }
.iconsax[icon-name="folder-cloud"]:before { content: '\e8ee'; }
.iconsax[icon-name="folder-connection"]:before { content: '\e9aa'; }
.iconsax[icon-name="folder-favorite"]:before { content: '\ea3c'; }
.iconsax[icon-name="folder-minus"]:before { content: '\e944'; }
.iconsax[icon-name="folder-open"]:before { content: '\eac7'; }
.iconsax[icon-name="folder-x"]:before { content: '\e902'; }
.iconsax[icon-name="footer"]:before { content: '\e9d2'; }
.iconsax[icon-name="foreground-layer"]:before { content: '\ea7b'; }
.iconsax[icon-name="game-controller"]:before { content: '\ea78'; }
.iconsax[icon-name="gameboy"]:before { content: '\ea26'; }
.iconsax[icon-name="gas-station"]:before { content: '\e87e'; }
.iconsax[icon-name="gemini"]:before { content: '\eb67'; }
.iconsax[icon-name="gemini-2"]:before { content: '\ea17'; }
.iconsax[icon-name="ghost"]:before { content: '\eb71'; }
.iconsax[icon-name="gift"]:before { content: '\e8a9'; }
.iconsax[icon-name="git-arrows"]:before { content: '\ea8a'; }
.iconsax[icon-name="git-commit"]:before { content: '\ea86'; }
.iconsax[icon-name="git-pull-request"]:before { content: '\e859'; }
.iconsax[icon-name="git-pull-request-square"]:before { content: '\e9b3'; }
.iconsax[icon-name="glasses"]:before { content: '\e9f1'; }
.iconsax[icon-name="globe"]:before { content: '\e9f2'; }
.iconsax[icon-name="globe-edit"]:before { content: '\ea61'; }
.iconsax[icon-name="globe-refresh"]:before { content: '\e8d5'; }
.iconsax[icon-name="globe-search"]:before { content: '\ea7c'; }
.iconsax[icon-name="gps"]:before { content: '\ea29'; }
.iconsax[icon-name="gps-slash"]:before { content: '\eb4b'; }
.iconsax[icon-name="grammarly"]:before { content: '\ea62'; }
.iconsax[icon-name="grid-apps"]:before { content: '\e91f'; }
.iconsax[icon-name="grid-apps-2"]:before { content: '\ea07'; }
.iconsax[icon-name="grid-apps-add"]:before { content: '\e812'; }
.iconsax[icon-name="grid-apps-equals"]:before { content: '\e918'; }
.iconsax[icon-name="grid-lock"]:before { content: '\e996'; }
.iconsax[icon-name="grid-quadrants"]:before { content: '\ea0a'; }
.iconsax[icon-name="grid-table"]:before { content: '\ea41'; }
.iconsax[icon-name="grid-table-edit"]:before { content: '\ea45'; }
.iconsax[icon-name="grid-table-eraser"]:before { content: '\e92f'; }
.iconsax[icon-name="grid-uneven"]:before { content: '\e9d7'; }
.iconsax[icon-name="group"]:before { content: '\e9cc'; }
.iconsax[icon-name="hamburger-menu"]:before { content: '\e847'; }
.iconsax[icon-name="hashtag"]:before { content: '\e9af'; }
.iconsax[icon-name="hashtag-down"]:before { content: '\e949'; }
.iconsax[icon-name="hashtag-up"]:before { content: '\e9e5'; }
.iconsax[icon-name="header"]:before { content: '\eafc'; }
.iconsax[icon-name="headphones"]:before { content: '\e9ef'; }
.iconsax[icon-name="headphones-active"]:before { content: '\e8e7'; }
.iconsax[icon-name="heart"]:before { content: '\e801'; }
.iconsax[icon-name="heart-add"]:before { content: '\e999'; }
.iconsax[icon-name="heart-circle"]:before { content: '\eb8b'; }
.iconsax[icon-name="heart-edit"]:before { content: '\e86f'; }
.iconsax[icon-name="heart-monitor-square"]:before { content: '\eab5'; }
.iconsax[icon-name="heart-search"]:before { content: '\eb30'; }
.iconsax[icon-name="heart-slash"]:before { content: '\ea40'; }
.iconsax[icon-name="heart-tag"]:before { content: '\eb7c'; }
.iconsax[icon-name="heart-tick"]:before { content: '\eb6e'; }
.iconsax[icon-name="heart-x"]:before { content: '\e8a4'; }
.iconsax[icon-name="hearts"]:before { content: '\e87b'; }
.iconsax[icon-name="hierarchy-1"]:before { content: '\e8cd'; }
.iconsax[icon-name="hierarchy-1-square"]:before { content: '\e9b5'; }
.iconsax[icon-name="hierarchy-2"]:before { content: '\eb22'; }
.iconsax[icon-name="hierarchy-2-square"]:before { content: '\e9b7'; }
.iconsax[icon-name="hierarchy-3"]:before { content: '\eaf3'; }
.iconsax[icon-name="history"]:before { content: '\e9b2'; }
.iconsax[icon-name="home-1"]:before { content: '\eb26'; }
.iconsax[icon-name="home-2"]:before { content: '\e90b'; }
.iconsax[icon-name="home-shield"]:before { content: '\e98b'; }
.iconsax[icon-name="home-trend-down"]:before { content: '\eae8'; }
.iconsax[icon-name="home-trend-up"]:before { content: '\eb33'; }
.iconsax[icon-name="home-wifi"]:before { content: '\e8fb'; }
.iconsax[icon-name="hospital"]:before { content: '\e9f7'; }
.iconsax[icon-name="hourglass"]:before { content: '\e81a'; }
.iconsax[icon-name="house-1"]:before { content: '\eb61'; }
.iconsax[icon-name="house-2"]:before { content: '\ea22'; }
.iconsax[icon-name="inbox-1"]:before { content: '\e80c'; }
.iconsax[icon-name="inbox-2"]:before { content: '\e963'; }
.iconsax[icon-name="inbox-3"]:before { content: '\e9df'; }
.iconsax[icon-name="inbox-4"]:before { content: '\eb8c'; }
.iconsax[icon-name="inbox-in-1"]:before { content: '\e974'; }
.iconsax[icon-name="inbox-in-2"]:before { content: '\e99d'; }
.iconsax[icon-name="inbox-notif"]:before { content: '\e905'; }
.iconsax[icon-name="inbox-out-1"]:before { content: '\eaf0'; }
.iconsax[icon-name="inbox-out-2"]:before { content: '\e8bb'; }
.iconsax[icon-name="infinite"]:before { content: '\e9ed'; }
.iconsax[icon-name="info-badge"]:before { content: '\eb54'; }
.iconsax[icon-name="info-circle"]:before { content: '\e9ca'; }
.iconsax[icon-name="instagram"]:before { content: '\eaa2'; }
.iconsax[icon-name="italic"]:before { content: '\eb00'; }
.iconsax[icon-name="item-rotate-left"]:before { content: '\ea4c'; }
.iconsax[icon-name="item-rotate-right"]:before { content: '\eb32'; }
.iconsax[icon-name="judge"]:before { content: '\e8db'; }
.iconsax[icon-name="kanban"]:before { content: '\ea6b'; }
.iconsax[icon-name="key"]:before { content: '\ea9b'; }
.iconsax[icon-name="key-square"]:before { content: '\e9d3'; }
.iconsax[icon-name="keyboard-1"]:before { content: '\eac4'; }
.iconsax[icon-name="keyboard-2"]:before { content: '\e879'; }
.iconsax[icon-name="lamp-1"]:before { content: '\e9a3'; }
.iconsax[icon-name="lamp-2"]:before { content: '\eb72'; }
.iconsax[icon-name="language-circle"]:before { content: '\eab3'; }
.iconsax[icon-name="language-square"]:before { content: '\e8a2'; }
.iconsax[icon-name="layers-1"]:before { content: '\e832'; }
.iconsax[icon-name="layers-2"]:before { content: '\e9c9'; }
.iconsax[icon-name="layout-1"]:before { content: '\e8f5'; }
.iconsax[icon-name="layout-2"]:before { content: '\e933'; }
.iconsax[icon-name="layout-3"]:before { content: '\e9bc'; }
.iconsax[icon-name="layout-4"]:before { content: '\ea81'; }
.iconsax[icon-name="layout-5"]:before { content: '\ea5e'; }
.iconsax[icon-name="layout-6"]:before { content: '\ea99'; }
.iconsax[icon-name="layout-7"]:before { content: '\eabd'; }
.iconsax[icon-name="layout-8"]:before { content: '\e93c'; }
.iconsax[icon-name="layout-half"]:before { content: '\e917'; }
.iconsax[icon-name="level"]:before { content: '\e855'; }
.iconsax[icon-name="lifebuoy"]:before { content: '\e8f4'; }
.iconsax[icon-name="like"]:before { content: '\e96a'; }
.iconsax[icon-name="like-badge"]:before { content: '\e846'; }
.iconsax[icon-name="like-dislike"]:before { content: '\eb2c'; }
.iconsax[icon-name="like-tag"]:before { content: '\ea27'; }
.iconsax[icon-name="line-spacing"]:before { content: '\ea1f'; }
.iconsax[icon-name="link-1"]:before { content: '\e99c'; }
.iconsax[icon-name="link-2"]:before { content: '\e94c'; }
.iconsax[icon-name="link-3"]:before { content: '\e993'; }
.iconsax[icon-name="link-4"]:before { content: '\eaa0'; }
.iconsax[icon-name="link-circle"]:before { content: '\ea58'; }
.iconsax[icon-name="link-square"]:before { content: '\e884'; }
.iconsax[icon-name="location"]:before { content: '\e8b1'; }
.iconsax[icon-name="location-add"]:before { content: '\eb66'; }
.iconsax[icon-name="location-minus"]:before { content: '\e8df'; }
.iconsax[icon-name="location-slash"]:before { content: '\eafa'; }
.iconsax[icon-name="location-tick"]:before { content: '\eac0'; }
.iconsax[icon-name="location-x"]:before { content: '\e982'; }
.iconsax[icon-name="lock-1"]:before { content: '\eaba'; }
.iconsax[icon-name="lock-2"]:before { content: '\e8d9'; }
.iconsax[icon-name="lock-circle"]:before { content: '\e854'; }
.iconsax[icon-name="lock-slash"]:before { content: '\eace'; }
.iconsax[icon-name="login"]:before { content: '\ea4a'; }
.iconsax[icon-name="login-2"]:before { content: '\e836'; }
.iconsax[icon-name="logout-1"]:before { content: '\e829'; }
.iconsax[icon-name="logout-2"]:before { content: '\eb11'; }
.iconsax[icon-name="loop"]:before { content: '\e93e'; }
.iconsax[icon-name="magic-star"]:before { content: '\ead5'; }
.iconsax[icon-name="magic-wand"]:before { content: '\e8d4'; }
.iconsax[icon-name="mail"]:before { content: '\ea73'; }
.iconsax[icon-name="mail-edit"]:before { content: '\e903'; }
.iconsax[icon-name="mail-notif"]:before { content: '\e946'; }
.iconsax[icon-name="mail-search"]:before { content: '\e8de'; }
.iconsax[icon-name="mail-speed"]:before { content: '\eb89'; }
.iconsax[icon-name="mail-star"]:before { content: '\e914'; }
.iconsax[icon-name="main-component"]:before { content: '\e9e7'; }
.iconsax[icon-name="male"]:before { content: '\e831'; }
.iconsax[icon-name="map-1"]:before { content: '\eb44'; }
.iconsax[icon-name="map-2"]:before { content: '\eaeb'; }
.iconsax[icon-name="map-3"]:before { content: '\eb56'; }
.iconsax[icon-name="mask"]:before { content: '\e97e'; }
.iconsax[icon-name="mask-1"]:before { content: '\ea9a'; }
.iconsax[icon-name="mask-2"]:before { content: '\eabc'; }
.iconsax[icon-name="mask-3"]:before { content: '\ea82'; }
.iconsax[icon-name="math-1"]:before { content: '\e850'; }
.iconsax[icon-name="math-2"]:before { content: '\e916'; }
.iconsax[icon-name="maximize"]:before { content: '\ead3'; }
.iconsax[icon-name="maximize-1"]:before { content: '\e930'; }
.iconsax[icon-name="maximize-2"]:before { content: '\e9ac'; }
.iconsax[icon-name="maximize-3"]:before { content: '\e921'; }
.iconsax[icon-name="maximize-3-square"]:before { content: '\e9bd'; }
.iconsax[icon-name="maximize-circle"]:before { content: '\e84b'; }
.iconsax[icon-name="media-backward"]:before { content: '\e976'; }
.iconsax[icon-name="media-backward-10s"]:before { content: '\ea3a'; }
.iconsax[icon-name="media-backward-15s"]:before { content: '\ea8d'; }
.iconsax[icon-name="media-backward-5s"]:before { content: '\ea71'; }
.iconsax[icon-name="media-forward"]:before { content: '\e861'; }
.iconsax[icon-name="media-forward-10s"]:before { content: '\e80b'; }
.iconsax[icon-name="media-forward-15s"]:before { content: '\e8a5'; }
.iconsax[icon-name="media-forward-5s"]:before { content: '\eb2a'; }
.iconsax[icon-name="media-next"]:before { content: '\e8fd'; }
.iconsax[icon-name="media-previous"]:before { content: '\e994'; }
.iconsax[icon-name="media-repeat"]:before { content: '\eb39'; }
.iconsax[icon-name="media-repeat-single"]:before { content: '\eb04'; }
.iconsax[icon-name="media-sliders-1"]:before { content: '\eb0b'; }
.iconsax[icon-name="media-sliders-2"]:before { content: '\e80f'; }
.iconsax[icon-name="media-sliders-3"]:before { content: '\e8a8'; }
.iconsax[icon-name="menu-4-dots"]:before { content: '\eb59'; }
.iconsax[icon-name="menu-meatballs"]:before { content: '\e939'; }
.iconsax[icon-name="message-add"]:before { content: '\e979'; }
.iconsax[icon-name="message-circle"]:before { content: '\eadb'; }
.iconsax[icon-name="message-dash-1"]:before { content: '\e97c'; }
.iconsax[icon-name="message-dash-2"]:before { content: '\eb34'; }
.iconsax[icon-name="message-dash-add"]:before { content: '\eac9'; }
.iconsax[icon-name="message-dash-tick"]:before { content: '\ea18'; }
.iconsax[icon-name="message-dash-time"]:before { content: '\ea51'; }
.iconsax[icon-name="message-dash-x"]:before { content: '\e822'; }
.iconsax[icon-name="message-dots"]:before { content: '\e989'; }
.iconsax[icon-name="message-dots-favorite"]:before { content: '\e98d'; }
.iconsax[icon-name="message-edit"]:before { content: '\e8f1'; }
.iconsax[icon-name="message-minus"]:before { content: '\e878'; }
.iconsax[icon-name="message-notif"]:before { content: '\eb0f'; }
.iconsax[icon-name="message-search"]:before { content: '\eb13'; }
.iconsax[icon-name="message-square"]:before { content: '\e904'; }
.iconsax[icon-name="message-text"]:before { content: '\e998'; }
.iconsax[icon-name="messages-1"]:before { content: '\e894'; }
.iconsax[icon-name="messages-2"]:before { content: '\e8c9'; }
.iconsax[icon-name="messages-3"]:before { content: '\e8a6'; }
.iconsax[icon-name="messages-4"]:before { content: '\e97f'; }
.iconsax[icon-name="mic-1"]:before { content: '\eae9'; }
.iconsax[icon-name="mic-2"]:before { content: '\eac2'; }
.iconsax[icon-name="mic-slash-1"]:before { content: '\eb91'; }
.iconsax[icon-name="mic-slash-2"]:before { content: '\e87a'; }
.iconsax[icon-name="milk"]:before { content: '\eb27'; }
.iconsax[icon-name="minus"]:before { content: '\e818'; }
.iconsax[icon-name="minus-circle"]:before { content: '\e9a2'; }
.iconsax[icon-name="minus-square"]:before { content: '\ea87'; }
.iconsax[icon-name="mirror"]:before { content: '\e82c'; }
.iconsax[icon-name="mobile"]:before { content: '\e8b7'; }
.iconsax[icon-name="money-1"]:before { content: '\e899'; }
.iconsax[icon-name="money-2"]:before { content: '\eaaa'; }
.iconsax[icon-name="money-3"]:before { content: '\eaae'; }
.iconsax[icon-name="money-4"]:before { content: '\ea33'; }
.iconsax[icon-name="money-5"]:before { content: '\eaec'; }
.iconsax[icon-name="money-add"]:before { content: '\eb5d'; }
.iconsax[icon-name="money-change"]:before { content: '\eb36'; }
.iconsax[icon-name="money-forbidden"]:before { content: '\ea97'; }
.iconsax[icon-name="money-in"]:before { content: '\e843'; }
.iconsax[icon-name="money-out"]:before { content: '\e886'; }
.iconsax[icon-name="money-tick"]:before { content: '\eb14'; }
.iconsax[icon-name="money-time"]:before { content: '\eb40'; }
.iconsax[icon-name="money-x"]:before { content: '\e80a'; }
.iconsax[icon-name="monitor"]:before { content: '\e819'; }
.iconsax[icon-name="monitor-message"]:before { content: '\e8af'; }
.iconsax[icon-name="monitor-record"]:before { content: '\e923'; }
.iconsax[icon-name="moon"]:before { content: '\e810'; }
.iconsax[icon-name="more-circle"]:before { content: '\eb3b'; }
.iconsax[icon-name="more-square"]:before { content: '\e94a'; }
.iconsax[icon-name="mouse"]:before { content: '\e837'; }
.iconsax[icon-name="music"]:before { content: '\eb1e'; }
.iconsax[icon-name="music-circle-dashed"]:before { content: '\e811'; }
.iconsax[icon-name="music-dashboard"]:before { content: '\ea0d'; }
.iconsax[icon-name="music-list"]:before { content: '\eae6'; }
.iconsax[icon-name="music-multi"]:before { content: '\e8d0'; }
.iconsax[icon-name="music-playlist"]:before { content: '\e93d'; }
.iconsax[icon-name="music-square-1"]:before { content: '\ea15'; }
.iconsax[icon-name="music-square-2"]:before { content: '\eb3a'; }
.iconsax[icon-name="music-square-3"]:before { content: '\e869'; }
.iconsax[icon-name="music-square-4"]:before { content: '\e85a'; }
.iconsax[icon-name="music-square-add"]:before { content: '\eaf6'; }
.iconsax[icon-name="music-square-search"]:before { content: '\eb1d'; }
.iconsax[icon-name="music-square-x"]:before { content: '\e833'; }
.iconsax[icon-name="musicnote"]:before { content: '\eb7f'; }
.iconsax[icon-name="not-allowed-1"]:before { content: '\e932'; }
.iconsax[icon-name="not-allowed-2"]:before { content: '\e91e'; }
.iconsax[icon-name="not-allowed-3"]:before { content: '\ea4b'; }
.iconsax[icon-name="note"]:before { content: '\ea9c'; }
.iconsax[icon-name="note-add"]:before { content: '\ea43'; }
.iconsax[icon-name="note-favorite"]:before { content: '\eb5e'; }
.iconsax[icon-name="note-text"]:before { content: '\ea7a'; }
.iconsax[icon-name="note-x"]:before { content: '\e93f'; }
.iconsax[icon-name="notepad"]:before { content: '\e82b'; }
.iconsax[icon-name="notes-1"]:before { content: '\ea7e'; }
.iconsax[icon-name="notes-2"]:before { content: '\ea5f'; }
.iconsax[icon-name="notif-circle"]:before { content: '\eb7d'; }
.iconsax[icon-name="notif-favorite"]:before { content: '\e9ee'; }
.iconsax[icon-name="notif-square"]:before { content: '\eb41'; }
.iconsax[icon-name="notif-text-square"]:before { content: '\e808'; }
.iconsax[icon-name="nut"]:before { content: '\e997'; }
.iconsax[icon-name="omega-circle"]:before { content: '\e873'; }
.iconsax[icon-name="omega-square"]:before { content: '\eb18'; }
.iconsax[icon-name="package"]:before { content: '\e983'; }
.iconsax[icon-name="page-with-bookmark-1"]:before { content: '\e85f'; }
.iconsax[icon-name="page-with-bookmark-2"]:before { content: '\ea70'; }
.iconsax[icon-name="paintbucket-1"]:before { content: '\eb77'; }
.iconsax[icon-name="paintbucket-2"]:before { content: '\e9dd'; }
.iconsax[icon-name="paintbucket-circle"]:before { content: '\e972'; }
.iconsax[icon-name="paintbucket-square"]:before { content: '\eb15'; }
.iconsax[icon-name="paperclip-1"]:before { content: '\e990'; }
.iconsax[icon-name="paperclip-2"]:before { content: '\ea38'; }
.iconsax[icon-name="paperclip-circle"]:before { content: '\eac1'; }
.iconsax[icon-name="paperclip-square"]:before { content: '\e8b5'; }
.iconsax[icon-name="password-check"]:before { content: '\eb49'; }
.iconsax[icon-name="pause"]:before { content: '\e865'; }
.iconsax[icon-name="pause-circle"]:before { content: '\eb7a'; }
.iconsax[icon-name="pen-path-1"]:before { content: '\e940'; }
.iconsax[icon-name="pen-path-2"]:before { content: '\eadc'; }
.iconsax[icon-name="pen-tool-1"]:before { content: '\eb4c'; }
.iconsax[icon-name="pen-tool-2"]:before { content: '\eac5'; }
.iconsax[icon-name="pen-tool-add"]:before { content: '\ea8c'; }
.iconsax[icon-name="pen-tool-minus"]:before { content: '\ea2a'; }
.iconsax[icon-name="pen-tool-square"]:before { content: '\e8b2'; }
.iconsax[icon-name="pen-tool-x"]:before { content: '\ea1c'; }
.iconsax[icon-name="percentage-circle"]:before { content: '\ea88'; }
.iconsax[icon-name="percentage-square"]:before { content: '\ead6'; }
.iconsax[icon-name="person-card"]:before { content: '\eb47'; }
.iconsax[icon-name="pet"]:before { content: '\e8f0'; }
.iconsax[icon-name="phone"]:before { content: '\e8ba'; }
.iconsax[icon-name="phone-add"]:before { content: '\e857'; }
.iconsax[icon-name="phone-minus"]:before { content: '\e862'; }
.iconsax[icon-name="phone-outgoing"]:before { content: '\eab8'; }
.iconsax[icon-name="phone-receive"]:before { content: '\e8c2'; }
.iconsax[icon-name="phone-ringing"]:before { content: '\e9be'; }
.iconsax[icon-name="phone-slash"]:before { content: '\ea11'; }
.iconsax[icon-name="phone-tick"]:before { content: '\e8d3'; }
.iconsax[icon-name="phone-x"]:before { content: '\eb02'; }
.iconsax[icon-name="picture"]:before { content: '\e893'; }
.iconsax[icon-name="picture-1"]:before { content: '\e96e'; }
.iconsax[icon-name="picture-add"]:before { content: '\e94d'; }
.iconsax[icon-name="picture-download"]:before { content: '\e834'; }
.iconsax[icon-name="picture-edit"]:before { content: '\e8aa'; }
.iconsax[icon-name="picture-favorite"]:before { content: '\eb6f'; }
.iconsax[icon-name="picture-slash"]:before { content: '\e891'; }
.iconsax[icon-name="picture-tick"]:before { content: '\eb4a'; }
.iconsax[icon-name="picture-upload"]:before { content: '\e9c8'; }
.iconsax[icon-name="picture-x"]:before { content: '\e9eb'; }
.iconsax[icon-name="pie-chart"]:before { content: '\e827'; }
.iconsax[icon-name="play"]:before { content: '\e977'; }
.iconsax[icon-name="play-circle"]:before { content: '\ea6d'; }
.iconsax[icon-name="play-circle-add"]:before { content: '\e959'; }
.iconsax[icon-name="play-circle-dashed"]:before { content: '\e9bb'; }
.iconsax[icon-name="play-circle-x"]:before { content: '\e8ce'; }
.iconsax[icon-name="play-octagon"]:before { content: '\e920'; }
.iconsax[icon-name="play-square"]:before { content: '\e89d'; }
.iconsax[icon-name="plug"]:before { content: '\e8ae'; }
.iconsax[icon-name="pop-in-circle"]:before { content: '\ea65'; }
.iconsax[icon-name="pop-in-square"]:before { content: '\eb4e'; }
.iconsax[icon-name="pop-out"]:before { content: '\e968'; }
.iconsax[icon-name="pop-out-player"]:before { content: '\e852'; }
.iconsax[icon-name="presentation-chart"]:before { content: '\eacb'; }
.iconsax[icon-name="printer"]:before { content: '\e94b'; }
.iconsax[icon-name="printer-slash"]:before { content: '\eb78'; }
.iconsax[icon-name="qr-code"]:before { content: '\e91b'; }
.iconsax[icon-name="question-message"]:before { content: '\ea53'; }
.iconsax[icon-name="quote-end"]:before { content: '\eb73'; }
.iconsax[icon-name="quote-start-circle"]:before { content: '\eb6b'; }
.iconsax[icon-name="quote-end-circle"]:before { content: '\e941'; }
.iconsax[icon-name="quote-end-square"]:before { content: '\eb0a'; }
.iconsax[icon-name="quote-start"]:before { content: '\eb2e'; }
.iconsax[icon-name="quote-start-square"]:before { content: '\e9cb'; }
.iconsax[icon-name="radar-1"]:before { content: '\ead2'; }
.iconsax[icon-name="radar-2"]:before { content: '\ea60'; }
.iconsax[icon-name="radar-3"]:before { content: '\ea9f'; }
.iconsax[icon-name="radial-chart"]:before { content: '\ea91'; }
.iconsax[icon-name="radio"]:before { content: '\ea49'; }
.iconsax[icon-name="ram-1"]:before { content: '\e87c'; }
.iconsax[icon-name="ram-2"]:before { content: '\ea50'; }
.iconsax[icon-name="ranking"]:before { content: '\ea0b'; }
.iconsax[icon-name="ranking-1"]:before { content: '\e9fe'; }
.iconsax[icon-name="reblog"]:before { content: '\eaf2'; }
.iconsax[icon-name="receipt"]:before { content: '\eb7b'; }
.iconsax[icon-name="receipt-2"]:before { content: '\e8f7'; }
.iconsax[icon-name="receipt-3"]:before { content: '\e8e3'; }
.iconsax[icon-name="receipt-4"]:before { content: '\e938'; }
.iconsax[icon-name="receipt-add"]:before { content: '\e9c0'; }
.iconsax[icon-name="receipt-discount-1"]:before { content: '\e84c'; }
.iconsax[icon-name="receipt-discount-2"]:before { content: '\e956'; }
.iconsax[icon-name="receipt-edit"]:before { content: '\e8ad'; }
.iconsax[icon-name="receipt-list"]:before { content: '\e8d6'; }
.iconsax[icon-name="receipt-minus-1"]:before { content: '\e853'; }
.iconsax[icon-name="receipt-minus-2"]:before { content: '\eae3'; }
.iconsax[icon-name="receipt-search"]:before { content: '\e872'; }
.iconsax[icon-name="receipt-square"]:before { content: '\eaa1'; }
.iconsax[icon-name="receipt-text"]:before { content: '\e82f'; }
.iconsax[icon-name="receive-diagonal-down"]:before { content: '\eb1f'; }
.iconsax[icon-name="receive-diagonal-square"]:before { content: '\ea10'; }
.iconsax[icon-name="record-circle"]:before { content: '\e922'; }
.iconsax[icon-name="recover"]:before { content: '\e919'; }
.iconsax[icon-name="redo"]:before { content: '\e948'; }
.iconsax[icon-name="redo-square"]:before { content: '\e8e5'; }
.iconsax[icon-name="refresh"]:before { content: '\e803'; }
.iconsax[icon-name="refresh-circle"]:before { content: '\eb65'; }
.iconsax[icon-name="refresh-left-square"]:before { content: '\e926'; }
.iconsax[icon-name="refresh-right-square"]:before { content: '\eb03'; }
.iconsax[icon-name="refresh-square"]:before { content: '\eb51'; }
.iconsax[icon-name="repeat"]:before { content: '\eb50'; }
.iconsax[icon-name="repeat-circle"]:before { content: '\e8bc'; }
.iconsax[icon-name="retweet"]:before { content: '\e8c3'; }
.iconsax[icon-name="rotate-left"]:before { content: '\eb5b'; }
.iconsax[icon-name="rotate-right"]:before { content: '\e85b'; }
.iconsax[icon-name="route-1"]:before { content: '\e835'; }
.iconsax[icon-name="route-2"]:before { content: '\e9f0'; }
.iconsax[icon-name="rows-1"]:before { content: '\ea1d'; }
.iconsax[icon-name="rows-2"]:before { content: '\e86b'; }
.iconsax[icon-name="ruler"]:before { content: '\ea16'; }
.iconsax[icon-name="ruler-and-pen"]:before { content: '\eb63'; }
.iconsax[icon-name="safebox-1"]:before { content: '\e8f9'; }
.iconsax[icon-name="safebox-2"]:before { content: '\e84d'; }
.iconsax[icon-name="sagittarius"]:before { content: '\ea47'; }
.iconsax[icon-name="scan-1"]:before { content: '\e9a1'; }
.iconsax[icon-name="scan-2"]:before { content: '\e876'; }
.iconsax[icon-name="scan-3"]:before { content: '\ea01'; }
.iconsax[icon-name="scan-4"]:before { content: '\e813'; }
.iconsax[icon-name="scissors"]:before { content: '\ea3f'; }
.iconsax[icon-name="scissors-square"]:before { content: '\ea42'; }
.iconsax[icon-name="scroll-horizontal-square"]:before { content: '\e95c'; }
.iconsax[icon-name="search-favorite-1"]:before { content: '\e823'; }
.iconsax[icon-name="search-favorite-2"]:before { content: '\e9a4'; }
.iconsax[icon-name="search-normal-1"]:before { content: '\ea23'; }
.iconsax[icon-name="search-normal-2"]:before { content: '\e8ac'; }
.iconsax[icon-name="search-status-1"]:before { content: '\ea28'; }
.iconsax[icon-name="search-status-2"]:before { content: '\eac8'; }
.iconsax[icon-name="search-zoom-in"]:before { content: '\eaaf'; }
.iconsax[icon-name="search-zoom-in-2"]:before { content: '\eb76'; }
.iconsax[icon-name="search-zoom-out-1"]:before { content: '\e844'; }
.iconsax[icon-name="search-zoom-out-2"]:before { content: '\e8d1'; }
.iconsax[icon-name="send-1"]:before { content: '\e842'; }
.iconsax[icon-name="send-2"]:before { content: '\e806'; }
.iconsax[icon-name="send-diagonal-square"]:before { content: '\e8be'; }
.iconsax[icon-name="send-diagonal-up"]:before { content: '\e965'; }
.iconsax[icon-name="setting-1"]:before { content: '\e864'; }
.iconsax[icon-name="setting-2"]:before { content: '\e84a'; }
.iconsax[icon-name="setting-3"]:before { content: '\e8c8'; }
.iconsax[icon-name="shapes-1"]:before { content: '\eb6c'; }
.iconsax[icon-name="shapes-2"]:before { content: '\e9e8'; }
.iconsax[icon-name="share"]:before { content: '\e89f'; }
.iconsax[icon-name="shield"]:before { content: '\e93a'; }
.iconsax[icon-name="shield-card"]:before { content: '\e99e'; }
.iconsax[icon-name="shield-lock"]:before { content: '\ead0'; }
.iconsax[icon-name="shield-search"]:before { content: '\eb68'; }
.iconsax[icon-name="shield-slash"]:before { content: '\e85d'; }
.iconsax[icon-name="shield-tick"]:before { content: '\ead4'; }
.iconsax[icon-name="shield-time"]:before { content: '\e911'; }
.iconsax[icon-name="shield-user"]:before { content: '\e841'; }
.iconsax[icon-name="shield-x"]:before { content: '\ea5d'; }
.iconsax[icon-name="ship"]:before { content: '\ea90'; }
.iconsax[icon-name="shop"]:before { content: '\eb25'; }
.iconsax[icon-name="shop-add"]:before { content: '\eb81'; }
.iconsax[icon-name="shop-minus"]:before { content: '\ea6c'; }
.iconsax[icon-name="shopping-cart"]:before { content: '\e83c'; }
.iconsax[icon-name="shuffle-1"]:before { content: '\e8fc'; }
.iconsax[icon-name="shuffle-2"]:before { content: '\eada'; }
.iconsax[icon-name="sidebar-left"]:before { content: '\eb2f'; }
.iconsax[icon-name="sidebar-right"]:before { content: '\eaea'; }
.iconsax[icon-name="signpost"]:before { content: '\eb0c'; }
.iconsax[icon-name="simcard-1"]:before { content: '\e9a5'; }
.iconsax[icon-name="simcard-2"]:before { content: '\e8cf'; }
.iconsax[icon-name="simcards"]:before { content: '\e95a'; }
.iconsax[icon-name="size"]:before { content: '\ea66'; }
.iconsax[icon-name="slider"]:before { content: '\e9da'; }
.iconsax[icon-name="slideshow-horizontal-1"]:before { content: '\e828'; }
.iconsax[icon-name="slideshow-horizontal-2"]:before { content: '\e8c0'; }
.iconsax[icon-name="slideshow-vertical-1"]:before { content: '\eab0'; }
.iconsax[icon-name="slideshow-vertical-2"]:before { content: '\eb84'; }
.iconsax[icon-name="smart-car"]:before { content: '\e962'; }
.iconsax[icon-name="smart-home"]:before { content: '\eb90'; }
.iconsax[icon-name="smileys"]:before { content: '\eade'; }
.iconsax[icon-name="snow"]:before { content: '\e90c'; }
.iconsax[icon-name="sort"]:before { content: '\e895'; }
.iconsax[icon-name="sound"]:before { content: '\eb64'; }
.iconsax[icon-name="sound-circle"]:before { content: '\e885'; }
.iconsax[icon-name="speaker"]:before { content: '\e957'; }
.iconsax[icon-name="speedometer"]:before { content: '\e9cf'; }
.iconsax[icon-name="square"]:before { content: '\ea24'; }
.iconsax[icon-name="star"]:before { content: '\eb1a'; }
.iconsax[icon-name="star-slash"]:before { content: '\e8e8'; }
.iconsax[icon-name="star-speed"]:before { content: '\e910'; }
.iconsax[icon-name="status"]:before { content: '\e85c'; }
.iconsax[icon-name="stickynote"]:before { content: '\ea08'; }
.iconsax[icon-name="stickynote-round"]:before { content: '\e987'; }
.iconsax[icon-name="stop-circle"]:before { content: '\ea93'; }
.iconsax[icon-name="stopwatch"]:before { content: '\e8d2'; }
.iconsax[icon-name="stopwatch-play"]:before { content: '\eb6a'; }
.iconsax[icon-name="stopwatch-pause"]:before { content: '\ea3e'; }
.iconsax[icon-name="story"]:before { content: '\e98e'; }
.iconsax[icon-name="subtitles"]:before { content: '\eb79'; }
.iconsax[icon-name="sun"]:before { content: '\eb86'; }
.iconsax[icon-name="sun-fog"]:before { content: '\e9b9'; }
.iconsax[icon-name="swap-horizontal"]:before { content: '\e8d7'; }
.iconsax[icon-name="swap-horizontal-circle"]:before { content: '\e9f4'; }
.iconsax[icon-name="swap-horizontal-square"]:before { content: '\eb52'; }
.iconsax[icon-name="swap-vertical"]:before { content: '\e9fd'; }
.iconsax[icon-name="swap-vertical-circle"]:before { content: '\e9b8'; }
.iconsax[icon-name="swap-vertical-square"]:before { content: '\e8ab'; }
.iconsax[icon-name="tag-1"]:before { content: '\eafe'; }
.iconsax[icon-name="tag-2"]:before { content: '\eb43'; }
.iconsax[icon-name="task-list"]:before { content: '\eb83'; }
.iconsax[icon-name="task-list-square"]:before { content: '\e86d'; }
.iconsax[icon-name="teacher"]:before { content: '\ea2e'; }
.iconsax[icon-name="telescope"]:before { content: '\e896'; }
.iconsax[icon-name="text"]:before { content: '\e9ae'; }
.iconsax[icon-name="text-align-center"]:before { content: '\e92b'; }
.iconsax[icon-name="text-align-justify-center"]:before { content: '\eb20'; }
.iconsax[icon-name="text-align-justify-left"]:before { content: '\e98c'; }
.iconsax[icon-name="text-align-justify-right"]:before { content: '\e8c1'; }
.iconsax[icon-name="text-align-left"]:before { content: '\eb70'; }
.iconsax[icon-name="text-align-right"]:before { content: '\ea72'; }
.iconsax[icon-name="text-block"]:before { content: '\e96f'; }
.iconsax[icon-name="therefore"]:before { content: '\e901'; }
.iconsax[icon-name="tick-circle"]:before { content: '\e95d'; }
.iconsax[icon-name="tick-square"]:before { content: '\eb48'; }
.iconsax[icon-name="ticket-1"]:before { content: '\eb08'; }
.iconsax[icon-name="ticket-2"]:before { content: '\ea46'; }
.iconsax[icon-name="ticket-discount"]:before { content: '\e8cc'; }
.iconsax[icon-name="ticket-star"]:before { content: '\eae0'; }
.iconsax[icon-name="ticket-tear"]:before { content: '\e9c5'; }
.iconsax[icon-name="toggle-off-round"]:before { content: '\e975'; }
.iconsax[icon-name="toggle-off-square"]:before { content: '\ea9d'; }
.iconsax[icon-name="toggle-on-round"]:before { content: '\eb80'; }
.iconsax[icon-name="toggle-on-square"]:before { content: '\eb87'; }
.iconsax[icon-name="translate"]:before { content: '\eb3d'; }
.iconsax[icon-name="trash"]:before { content: '\e927'; }
.iconsax[icon-name="trash-square"]:before { content: '\ea98'; }
.iconsax[icon-name="tree"]:before { content: '\e88b'; }
.iconsax[icon-name="trend-down-square"]:before { content: '\e851'; }
.iconsax[icon-name="trend-up"]:before { content: '\e9fa'; }
.iconsax[icon-name="triangle"]:before { content: '\eb88'; }
.iconsax[icon-name="trophy"]:before { content: '\e86a'; }
.iconsax[icon-name="truck"]:before { content: '\eab7'; }
.iconsax[icon-name="truck-speed"]:before { content: '\eaa3'; }
.iconsax[icon-name="truck-tick"]:before { content: '\e9a8'; }
.iconsax[icon-name="truck-time"]:before { content: '\e8e4'; }
.iconsax[icon-name="truck-x"]:before { content: '\e830'; }
.iconsax[icon-name="tuning-knob"]:before { content: '\ea48'; }
.iconsax[icon-name="underline"]:before { content: '\e935'; }
.iconsax[icon-name="undo"]:before { content: '\e892'; }
.iconsax[icon-name="undo-square"]:before { content: '\e934'; }
.iconsax[icon-name="unlock"]:before { content: '\e8e9'; }
.iconsax[icon-name="upload-1"]:before { content: '\e928'; }
.iconsax[icon-name="upload-2"]:before { content: '\eb07'; }
.iconsax[icon-name="upload-square"]:before { content: '\e8ea'; }
.iconsax[icon-name="uppercase-lowercase"]:before { content: '\e9c3'; }
.iconsax[icon-name="user-1"]:before { content: '\e8a1'; }
.iconsax[icon-name="user-1-add"]:before { content: '\ea5c'; }
.iconsax[icon-name="user-1-minus"]:before { content: '\eb4d'; }
.iconsax[icon-name="user-1-square"]:before { content: '\eae1'; }
.iconsax[icon-name="user-1-tag"]:before { content: '\ea54'; }
.iconsax[icon-name="user-1-tick"]:before { content: '\e8b0'; }
.iconsax[icon-name="user-1-x"]:before { content: '\eb8f'; }
.iconsax[icon-name="user-2"]:before { content: '\eb37'; }
.iconsax[icon-name="user-2-add"]:before { content: '\e9d1'; }
.iconsax[icon-name="user-2-circle"]:before { content: '\e874'; }
.iconsax[icon-name="user-2-circle-add"]:before { content: '\ea31'; }
.iconsax[icon-name="user-2-edit"]:before { content: '\e967'; }
.iconsax[icon-name="user-2-minus"]:before { content: '\ea3d'; }
.iconsax[icon-name="user-2-search"]:before { content: '\e943'; }
.iconsax[icon-name="user-2-tag"]:before { content: '\eafd'; }
.iconsax[icon-name="user-2-tick"]:before { content: '\eabb'; }
.iconsax[icon-name="user-2-x"]:before { content: '\ea0f'; }
.iconsax[icon-name="user-octagon"]:before { content: '\e961'; }
.iconsax[icon-name="users"]:before { content: '\e958'; }
.iconsax[icon-name="verify"]:before { content: '\e96b'; }
.iconsax[icon-name="video"]:before { content: '\e890'; }
.iconsax[icon-name="video-2"]:before { content: '\e8d8'; }
.iconsax[icon-name="video-add"]:before { content: '\e9e0'; }
.iconsax[icon-name="video-horizontal"]:before { content: '\e89b'; }
.iconsax[icon-name="video-slash"]:before { content: '\e882'; }
.iconsax[icon-name="video-tick"]:before { content: '\eabf'; }
.iconsax[icon-name="video-time"]:before { content: '\ea09'; }
.iconsax[icon-name="video-vertical"]:before { content: '\e88f'; }
.iconsax[icon-name="video-x"]:before { content: '\e988'; }
.iconsax[icon-name="voice-square"]:before { content: '\ea56'; }
.iconsax[icon-name="volume-add"]:before { content: '\e913'; }
.iconsax[icon-name="volume-high"]:before { content: '\e8f3'; }
.iconsax[icon-name="volume-low"]:before { content: '\e849'; }
.iconsax[icon-name="volume-minus"]:before { content: '\e877'; }
.iconsax[icon-name="volume-mute"]:before { content: '\e995'; }
.iconsax[icon-name="volume-slash"]:before { content: '\e83f'; }
.iconsax[icon-name="volume-x"]:before { content: '\ea7f'; }
.iconsax[icon-name="wallet-1"]:before { content: '\ea3b'; }
.iconsax[icon-name="wallet-2"]:before { content: '\eb23'; }
.iconsax[icon-name="wallet-3"]:before { content: '\eaf5'; }
.iconsax[icon-name="wallet-4"]:before { content: '\eaf1'; }
.iconsax[icon-name="wallet-add"]:before { content: '\e8b8'; }
.iconsax[icon-name="wallet-add-1"]:before { content: '\e8f8'; }
.iconsax[icon-name="wallet-minus"]:before { content: '\e815'; }
.iconsax[icon-name="wallet-money"]:before { content: '\e86e'; }
.iconsax[icon-name="wallet-open"]:before { content: '\ea9e'; }
.iconsax[icon-name="wallet-open-add"]:before { content: '\e95b'; }
.iconsax[icon-name="wallet-open-change"]:before { content: '\ea00'; }
.iconsax[icon-name="wallet-open-tick"]:before { content: '\eaa9'; }
.iconsax[icon-name="wallet-open-time"]:before { content: '\e9e9'; }
.iconsax[icon-name="wallet-open-x"]:before { content: '\e980'; }
.iconsax[icon-name="wallet-search"]:before { content: '\eb38'; }
.iconsax[icon-name="wallet-tick"]:before { content: '\e9db'; }
.iconsax[icon-name="wallet-x"]:before { content: '\e8b3'; }
.iconsax[icon-name="warning-octagon"]:before { content: '\eaca'; }
.iconsax[icon-name="warning-triangle"]:before { content: '\e908'; }
.iconsax[icon-name="watch-1"]:before { content: '\e8c6'; }
.iconsax[icon-name="watch-2"]:before { content: '\e9e2'; }
.iconsax[icon-name="watch-activity"]:before { content: '\e9c2'; }
.iconsax[icon-name="weight-scale"]:before { content: '\e80e'; }
.iconsax[icon-name="weights"]:before { content: '\e915'; }
.iconsax[icon-name="wifi"]:before { content: '\e9e6'; }
.iconsax[icon-name="wifi-square"]:before { content: '\ea52'; }
.iconsax[icon-name="wind-1"]:before { content: '\eb5c'; }
.iconsax[icon-name="wind-2"]:before { content: '\e8c5'; }
.iconsax[icon-name="x"]:before { content: '\eb93'; }
.iconsax[icon-name="x-circle"]:before { content: '\ea75'; }
.iconsax[icon-name="x-square"]:before { content: '\e871'; }
