body, html {
	scroll-behavior:smooth;
	scrollbar-width:thin; /* firefox only */
}

body {
	margin:0;
	background:#fbfbfb;
	font-family:"Instrument Sans", sans-serif;
	font-size:var(--Body-Font-Size);
	color:var(--Body-Text-Color);
	line-height:var(--Body-Line-Height);
}

a {
	color:var(--Links-Color);
	text-decoration:none;
	padding-bottom:0.069em;
	border-bottom:2px solid var(--Links-Underline);
}

i.caps {
	font-style:normal;
	text-transform:uppercase;
	font-size:var(--SmallCaps-Font-Size);
	letter-spacing:0.03em;
}

pre, code, .icon-label {
	font-family:"Fragment Mono", monospace;
	background:var(--Code-BG);
	border:1px solid var(--Code-Border);
	color:var(--Code-Text-Color);
	text-shadow:1px 1px 0.5px rgba(90,99,121,0.1);
}

p code {
	display:inline-block;
	padding:0.15em 0.4em;
	border-radius:4px;
	font-size:var(--SmallCaps-Font-Size);
}

pre {
	white-space:pre-line;
	cursor:text;
	border-radius:10px;
	padding:var(--Code-Padding);
	font-size:var(--Code-Font-Size);
	word-break:break-all;
}

:root {
	--BackToTop-Corner-Offset:1rem;
	--BackToTop-Button-BG:#fff;
	--BackToTop-Button-Border:#f0f0f0;
	--BackToTop-Button-Padding:0.69rem;
	--BackToTop-Button-Size:0.8rem;

	--Container-Width:80vw;
	--Container-BG:#fff;
	--Container-Padding:25px;
	
	--Headings-Size:0.875rem;
	--Headings-Color:#222;
	--H1-Size:1rem;
	
	--Header-Avatar-Size:1.5rem;
	--Header-Center-Gap:0.5rem;
	--Header-Tagline-Color:#999;
	
	--Body-Font-Size:0.9rem;
	--Body-Text-Color:#5a6379;
	--Body-Line-Height:1.69;
	
	--SmallCaps-Font-Size:0.8rem;
	
	--Links-Color:#0386d6;
	--Links-Underline:#d4e7fb;
	
	--Divider-Color:#eee;
	--Divider-Size:1px;
	--Divider-Spacing:2rem;
	
	--Grid-Row-Spacing:1.69rem;
	--Grid-Column-Spacing:1.25rem;
	--Grid-Cell-Min-Width:2rem;
	
	--Iconsax-Size:1.2rem;
	--Iconsax-Name-Size:0.7rem; /* 0.8rem */
	
	--Code-BG:#f6f7f8;
	--Code-Border:#ecedef;
	--Code-Text-Color:#4f576a;
	--Code-Font-Size:0.75rem;
	--Code-Padding:0.9rem 1.1rem;
}

[back-to-top]{
	position:fixed;
	bottom:0;right:0;
	margin-bottom:var(--BackToTop-Corner-Offset);
	margin-right:var(--BackToTop-Corner-Offset);
	visibility:hidden;
	opacity:0;
	transition:opacity 0.3s ease-in-out, visibility 0s 0.3s ease-in-out;
	z-index:8;
}

[back-to-top].f {
	visibility:visible;
	opacity:1;
	transition:opacity 0.3s ease-in-out, visibility 0s 0s ease-in-out;
}

[back-to-top] button {
	background:var(--BackToTop-Button-BG);
	border:1px solid var(--BackToTop-Button-Border);
	padding:var(--BackToTop-Button-Padding);
	border-radius:5px;
	font-size:var(--BackToTop-Button-Size);
	box-shadow:4px 4px 15px rgba(0,0,0,4%);
	line-height:0;
	cursor:pointer;
}

[main-container]{
    margin:0 auto;
	width:var(--Container-Width);
    min-height:100vh;
    text-align:center;
	box-shadow:0 0 40px rgba(0,0,0,7%);
}

[cont-inner]{
    display:inline-block;
	width:100%;
    min-height:100vh;
	padding:var(--Container-Padding);
	box-sizing:border-box;
	background:var(--Container-BG);
}

main {
	text-align:initial;
}

h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-family:"Lexend", sans-serif;
	font-size:var(--Headings-Size);
	text-transform:uppercase;
	letter-spacing:0.025em;
	font-weight:normal;
	color:var(--Headings-Color);
}

h1 {
	font-size:var(--H1-Size);
}

[glen-info]{
	display:flex;
	align-items:center;
	gap:var(--Header-Center-Gap);
}

[glen-info] img {
	display:block;
	width:var(--Header-Avatar-Size);
	height:var(--Header-Avatar-Size);
	border-radius:100%;
	flex-shrink:0;
}

[glen-info] span {
	display:block;
	font-family:"Golos Text", sans-serif;
	font-size:calc(var(--SmallCaps-Font-Size) * 0.9);
	text-transform:uppercase;
	letter-spacing:0.025em;
	word-spacing:0.01em;
	color:var(--Header-Tagline-Color);
	flex:1;
}

.table-of-contents ul a {
	font-family:"Golos Text";
}

hr {
	display:block;
	margin-left:calc(0px - var(--Container-Padding));
	margin-top:var(--Divider-Spacing);
	margin-bottom:var(--Divider-Spacing);
	margin-right:0;
	width:calc(100% + (var(--Container-Padding) * 2));
	height:var(--Divider-Size);
	box-sizing:border-box;
	padding:0;
	background:var(--Divider-Color);
	/* border:calc(var(--Divider-Size) / 2) solid var(--Divider-Color); */
	border:none;
	transform:perspective(0);
}

[class*="grid"]{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(var(--Grid-Cell-Min-Width), 100px));
	grid-gap:var(--Grid-Row-Spacing) var(--Grid-Column-Spacing);
	justify-content:center;
}

.hide-sect {
	display:none!important;
	opacity:0!important;
	visibility:collapse!important;
}

hr + section[id="icons-list"] > h2:first-child,
hr + section > h2[id]:first-child {
	padding-top:var(--Divider-Spacing);
	margin-top:calc(0px - var(--Divider-Spacing));
}

h2[id] + .grid {
	margin-top:var(--Divider-Spacing);
}

/* yeah there was an attempt but I decided not to */
/* .grid.compact {
	justify-content:flex-start	
} */

.icon-each {
	display:flex;
	flex-direction:column;
	align-self:center;
	align-items:center;
	justify-self:center;
	justify-content:center;
	gap:0.725rem;
	width:100%;
	height:100%;
	box-sizing:border-box;
}

[class*="grid"] .iconsax {
	display:block;
	font-size:var(--Iconsax-Size)
}

.icon-label {
	display:grid;
	place-items:center;
	font-size:var(--Iconsax-Name-Size);
	padding:0.5em 0.7em;
	border-radius:4px;
	line-height:1.4;
	text-align:center;
	cursor:default;
	user-select:all;
	width:100%;
	height:100%;
	box-sizing:border-box;
}

@media(max-width: 550px){
	:root {
		--Container-Width:100vw;
	}

	body, html {
		overflow-x:hidden;
	}
}

@media(min-width: 700px){
	:root {
		--Container-Width:60vw;
	}
}

@media(min-width: 1300px){
	:root {
		--Container-Width:50vw;
	}
}
